<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/swipe-pages/swipe-pages.html">
<link rel="import" href="../order-detailed-view/order-detailed-view.html">
<link rel="import" href="../order-explorer-view/order-explorer-view.html">
<link rel="import" href="../order-explorer-view/order-explorer-view.html">
<link rel="import" href="../restaurant-explorer-view/restaurant-explorer-view.html">
<link rel="import" href="../chart-view/chart-view.html">

<!-- Declaration of polymer nomnow-phone-content custom element. -->
<polymer-element name="nomnow-phone-content">
    <template>
        <style>
            :host {
                display: block;
                height: 100%;
            }
            .page {
                height: 100%;
                overflow-y: auto;
                margin-right: 20px;
                padding-top: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            .page-content-wrapper {
                display: block;
                height: 100%;
                padding: 0 15px 0 15px;
            }
        </style>
        <swipe-pages class="page-content-wrapper" threshold="0.5" touch-action="none" selected="1">
            <swipe-page>
                <div class="page" touch-action="pan-y">
                    <content select="last-order-tile"></content>
                    <content select="order-explorer-view"></content>
                </div>
            </swipe-page>
            <swipe-page>
                <div class="page" touch-action="pan-y">
                    <content select="restaurant-explorer-view"></content>
                </div>
            </swipe-page>
            <swipe-page>
                <div class="page" touch-action="pan-y">
                    <content select="chart-view"></content>
                </div>
            </swipe-page>
        </swipe-pages>
    </template>
    <script src="harmony/build/build.js"></script>
</polymer-element>