<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../todo-list/todo-list.html">
<link rel="import" href="../side-panel/side-panel.html">
<link rel="import" href="../proto-side-menu/proto-side-menu.html">
<link rel="import" href="../login-window/login-window.html">
<link rel="import" href="../hoodie-backend-adapter/hoodie-backend-adapter.html">
<link rel="import" href="../backend-collection/backend-collection.html">
<link rel="import" href="../proto-scaffold/proto-scaffold.html">
<link rel="import" href="../main-panel/main-panel.html">
<link rel="import" href="../proto-content/proto-content.html">
<link rel="import" href="../change-password-popup/change-password-popup.html">
<link rel="import" href="../dom-selector/dom-selector.html">
<link rel="import" href="../proto-button-upload/proto-button-upload.html">
<link rel="import" href="../hoodie-static-resources-plugin/hoodie-static-resources-plugin.html">
<link rel="import" href="../swipe-to-action/swipe-to-action.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer proto-logged-window custom element. -->
<polymer-element name="proto-logged-window" attributes="appTitle">
	<template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
		<theme-style>
			main-panel {
				background-color: {{theme.color.mainContainerBgColor}};
			}

			main-panel::shadow #mainContainer {
				background-color: {{theme.color.mainContainerBgColor}};
				border-top-left-radius: 4px;
			}

            main-panel::shadow #headerContainer #headerBg {
                background-image: {{theme.path.headerBg}};
                background-size: auto 100%;
                background-position: bottom right;
                background-color: {{theme.color.bgColor}};
            }

			main-panel::shadow #condensedHeaderBg {
				background-color: {{theme.color.mainContainerBgColor}};
			}

            proto-side-menu proto-text-button,
            proto-side-menu proto-button-upload {
				margin-bottom: 10px;
				background-color: {{theme.color.buttonBgColor}};
			}

            proto-side-menu proto-text-button.logout-button {
				background-color: {{theme.color.redButtonBgColor}};
			}

            img.uploaded-pic {
                margin-bottom: 5px;
            }

            .title {
                color: {{theme.color.bigTitleColor}};
            }
		</theme-style>
        <hoodie-backend-adapter id="backendAdapter">
            <hoodie-static-resources-plugin id="hoodieStaticResources">
                <event-dispatcher event="asset-published"
                                  handler="{{$.imagesCollection.onItemAddedHandler}}"></event-dispatcher>
            </hoodie-static-resources-plugin>
        </hoodie-backend-adapter>

        <backend-collection id="todoCollection"
                            name="todo"
                            requiredProperties="body checked"
                            backendAdapter="{{$.backendAdapter}}"></backend-collection>
		<backend-collection id="imagesCollection"
							name="images"
							requiredProperties="url"
							backendAdapter="{{$.backendAdapter}}"></backend-collection>

		<proto-scaffold>
            <side-panel drawer mode="waterfall-tall">
                <proto-side-menu layout vertical username="{{$.backendAdapter.session.username}}">
					<proto-button-upload class="upload-file" text="UPLOAD IMAGE">
						<event-dispatcher event="file-selected"
										  handler="{{$.backendAdapter.static.onPublishAssetHandler}}"></event-dispatcher>
                    </proto-button-upload>
                    <proto-text-button class="change-password" text="CHANGE PASSWORD">
                        <event-dispatcher event="tap"
                                          handler="{{toggleChangePasswordPopup}}"></event-dispatcher>
                    </proto-text-button>
					<proto-text-button class="logout-button" text="LOGOUT">
                        <event-dispatcher event="tap"
                                          handler="{{$.backendAdapter.session.signOut}}"></event-dispatcher>
                    </proto-text-button>
                    <backend-collection-query collection="{{$.imagesCollection}}"
                                              result="{{imageList}}"></backend-collection-query>
                    <template repeat="{{image in imageList}}">
                        <div style="backface-visibility: hidden">
                            <swipe-to-action></swipe-to-action>
                            <img class="uploaded-pic" src="{{image.url}}" width="100%" alt="{{image.url}}" />
                        </div>
                    </template>
                </proto-side-menu>
            </side-panel>
			<main-panel main condenses keepCondensedHeader="true">
				<proto-header class="tall core-header">
					<paper-icon-button id="navicon" icon="menu" core-drawer-toggle=""
									   role="button" tabindex="0" aria-label="menu"></paper-icon-button>
					<div class="title">{{appTitle}}</div>
					<div class="bottom indent" flex>
						<todo-input placeholder="Task...">
                            <event-dispatcher event="todo-created"
                                              handler="{{$.todoCollection.onItemAddedHandler}}"></event-dispatcher>
                        </todo-input>
					</div>
				</proto-header>
				<proto-content>
					<backend-collection-query collection="{{$.todoCollection}}"
                                                          result="{{todoList}}"></backend-collection-query>
                    <todo-list id="todoList" list="{{todoList}}">
                        <event-dispatcher event="todo-deleted"
                                          handler="{{$.todoCollection.onItemDeletedHandler}}"></event-dispatcher>
                    </todo-list>
				</proto-content>
			</main-panel>
		</proto-scaffold>
        <template if="{{showChangePasswordPopup}}">
            <dom-selector bindChildren="{{changePasswordPopup}}">
                <change-password-popup>
                    <event-dispatcher event="change-password"
                                      handler="{{$.backendAdapter.onChangePasswordHandler}}"></event-dispatcher>
                    <event-dispatcher event="popup-close"
                                      handler="{{toggleChangePasswordPopup}}"></event-dispatcher>
                </change-password-popup>
            </dom-selector>

            <event-dispatcher event="hoodie-message"
                              handler="{{changePasswordPopup.messageHandler}}"></event-dispatcher>
        </template>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>