<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../pager-tile/pager-tile.html">
<link rel="import" href="../animated-delete-button/animated-delete-button.html">
<link rel="import" href="../price-formatter/price-formatter.html">

<!-- Declaration of polymer chart-view custom element. -->
<polymer-element name="chart-view" attributes="chartItems">
    <template>
        <style>
            :host {
                display: block;
            }
            h4, h5 {
                font-weight: 300;
            }
            #page-title {
                font-weight: 300;
                display: inline-block;
                position: relative;
                top: 2px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            #chart-details {
                padding-top: 10px;
            }
            .placeholder {
                font-size: 14px;
                color: rgba(0, 0, 0, 0.3);
            }
            .quantity {
                text-align: right;
                margin-right: 5px;
                color: rgba(0, 0, 0, 0.8);
                font-size: 14px;
            }
            .item-details {
                font-size: 13px;
                color: rgba(0, 0, 0, 0.7);
                padding-top: 3px;
            }
            .item-details .quantity {
                color: rgba(0, 0, 0, 0.3);
                font-size: 13px;
            }
            .item-details .price {
                margin-left: 15px;
                font-size: 13px;
            }
            .item-list .total-cost {
                color: rgba(0, 0, 0, 0.5);
                margin: 10px 5px 10px 5px;
                font-size: 14px;
            }
            clickable-list-item::shadow > .container {
                padding: 6px 5px 6px 5px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                position: relative;
            }
            clickable-list-item:not(:last-of-type)::shadow > .container {
                border-bottom: 1px solid rgba(0, 0, 0, 0.04);
            }
            .delete-button {
                position: relative;
                z-index: 10;
            }
            .delete-button::shadow core-icon {
                height: 18px;
                width: 18px;
                margin: -2px 10px 0 0;
                vertical-align: bottom;
                opacity: 0.7;
            }
            nomnow-text-button {
                margin: 16px 0 0 10px;
            }
            nomnow-text-button::shadow .text {
                padding-top: 8px;
                padding-bottom: 6px;
            }
        </style>
        <nomnow-data-layer collections="{{collections}}"></nomnow-data-layer>

        <h4 id="page-title">My chart</h4>

        <div id="chart-details">
            <template if="{{!chartItems.length}}">
                <p class="placeholder">No products to show.</p>
            </template>
            <div class="item-list" layout vertical>
                <template repeat="{{item in chartItems}}">
                    <clickable-list-item model="{{item}}">
                        <div class="item-details" horizontal layout>
                            <div>
                                <nomnow-icon-button class="delete-button" icon="remove">
                                    <event-dispatcher event="tap" handler="{{removeProduct}}"
                                                      detail="{{item}}">
                                    </event-dispatcher>
                                </nomnow-icon-button>
                                <!--<animated-delete-button class="delete-button"></animated-delete-button>-->
                            </div>
                            <div class="detail name" flex>
                                {{item.product.name}}
                            </div>
                            <div class="detail quantity">
                                x{{item.quantity}}
                            </div>
                            <div class="detail price">
                                <price-formatter value="{{item.product.price}}" symbol="€"></price-formatter>
                            </div>
                        </div>
                        <event-dispatcher event="list-item-clicked" handler="{{productClicked}}"></event-dispatcher>
                    </clickable-list-item>
                </template>
                <template if="{{chartItems.length}}">
                    <div class="total-cost" horizontal layout>
                        <div flex>
                            Total
                        </div>
                        <div class="price">
                            <price-formatter value="{{totalPrice}}" symbol="€"></price-formatter>
                        </div>
                    </div>
                    <div horizontal layout end-justified>
                        <nomnow-text-button icon="clear"
                                            on-tap="{{emptyChart}}">Empty</nomnow-text-button>
                        <nomnow-text-button icon="assignment-turned-in"
                                            on-tap="{{checkout}}">Checkout</nomnow-text-button>
                    </div>
                </template>
            </div>
        </div>
    </template>
    <script src="harmony/build/build.js"></script>
</polymer-element>