<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../order-detailed-view/order-detailed-view.html">
<link rel="import" href="../order-explorer-view/order-explorer-view.html">
<link rel="import" href="../order-explorer-view/order-explorer-view.html">
<link rel="import" href="../restaurant-explorer-view/restaurant-explorer-view.html">
<link rel="import" href="../chart-view/chart-view.html">

<!-- Declaration of polymer nomnow-tablet-content custom element. -->
<polymer-element name="nomnow-tablet-content">
	<template>
		<style>
			h3 {
				font-weight: 300;
			}
            .page-content-wrapper {
                padding: 0 15px 0 25px;
                height: 100%;
            }
            #left-container {
                padding-right: 20px;
            }
            #right-container {
                padding-left: 20px;
                border-left: 1px solid rgba(0, 0, 0, 0.12);
            }
            #left-container,
            #right-container {
                height: 100%;
                overflow-y: auto;
                padding-top: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            ::content chart-view {
                margin-bottom: 20px;
            }
		</style>
		<div class="page-content-wrapper" horizontal layout>
			<div id="left-container" flex>
                <content select="last-order-tile"></content>
				<content select="order-explorer-view"></content>
			</div>
			<div flex id="right-container">
                <content select="chart-view"></content>
				<content select="restaurant-explorer-view"></content>
			</div>
		</div>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>