<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../bower_components/core-field/core-field.html">
<link rel="import" href="../proto-text-button/proto-text-button.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer login-form custom element. -->
<polymer-element name="login-form" on-keypress="{{keypressHandler}}">
    <template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
        <theme-style>
            :host {
                background-color: {{theme.color.genericPopupBgColor}};
            }
            :host > paper-shadow {
                padding: 30px;
            }
            core-field {
                padding-top: 10px;
                padding-bottom: 3px;
                padding-left: 0px;
                padding-right: 3px;
                border-bottom: 1px solid {{theme.color.popupInputBorderColor}};
                margin-bottom: 5px
            }
            polyfill-next-selector { content: 'core-field::shadow ::content input'; }
            core-field::shadow ::content input {
                padding-bottom: 2px;
                color: {{theme.color.textInputBgColor}};
                font-size: 13px;
            }
            .title {
                color: {{theme.color.bigTitleColor}};
                font-weight: 400;
                font-size: 27px;
                margin: 15px;
                margin-left: 0;
                margin-top: 20px;
            }
            proto-text-button {
                margin-top: 20px;
                background-color: {{theme.color.buttonBgColor}};
            }
            proto-text-button#register {
                margin-right: 5px;
                background-color: {{theme.color.redButtonBgColor}};
            }
        </theme-style>
        <paper-shadow z="1" id="login-wrapper">
            <h3 class="title">Proto</h3>
            <core-field id="username">
                <input placeholder="username" flex value="{{username}}" autofocus>
            </core-field>
            <core-field>
                <input placeholder="password" flex value="{{password}}" type="password">
            </core-field>
            <div horizontal layout>
                <proto-text-button id="register" text="REGISTER" on-tap="{{register}}" flex></proto-text-button>
                <proto-text-button text="LOGIN" on-tap="{{login}}"></proto-text-button>
            </div>
        </paper-shadow>
    </template>
    <script src="harmony/build/build.js"></script>
</polymer-element>