<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../ripple-effect/ripple-effect.html">

<!-- Declaration of polymer ripple-button custom element. -->
<polymer-element name="ripple-button" attributes="text">
	<template>
		<style>
			:host {
                display: block;
				background-color: #CCCCCC;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                cursor: pointer;
			}
		</style>
		<div relative>
			<content select="*:not(.innerRipple)"></content>
			<ripple-effect recenteringTouch>
                <content select=".innerRipple"></content>
            </ripple-effect>
		</div>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>