<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../nomnow-text-button/nomnow-text-button.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer nomnow-header custom element. -->
<polymer-element name="nomnow-header">
	<template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
		<theme-style>
			:host {
                position: absolute;
                width: 100%;
                display: block;
                z-index: 4;
                padding: 19px 15px 8px 15px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;

                /*background-color: rgba(255, 254, 250, 0.98);*/
                background-color: rgba(248, 175, 97, 0.97);
                /*border-bottom: 1px solid rgba(250, 178, 49, 0.57);*/
                border-bottom: 1px solid rgba(0, 0, 0, 0.19);
			}
            #title {
                display: inline-block;
                font-weight: 300;
                margin: 0 0 6px 10px;
                font-size: 26px;
                /*color: rgba(0, 0, 0, 0.8)*/
                color: rgba(255, 255, 255, 1);
                text-shadow: 0 0 0.5px rgba(0, 0, 0, 0.62);
            }
            #app-logo {
                vertical-align: bottom;
                height: 42px;
                position: relative;
                bottom: 1px;
            }
            #sign-out-button::shadow .text {
                padding-top: 8px;
                padding-bottom: 6px;
            }
            #header-content-wrapper {
                margin: auto;
                max-width: {{theme.dimension.maxPageWidth}};
            }
            #user-photo {
                vertical-align: bottom;
                display: block;
                position: relative;
                height: 28px;
                border: 1px solid rgba(0, 0, 0, 0.54);
                margin-left: 10px;
            }
            #user-photo-container {
                display: block;
                height: 0;
            }
		</theme-style>
        <nomnow-data-layer collections="{{collections}}"></nomnow-data-layer>
        <div id="header-content-wrapper" horizontal layout center>
            <div flex>

                <img id="app-logo" src="{{theme.src.logoWhiteSvg}}"
                     alt="Nomnow logo." height="38">
                <h1 id="title">Nomnow</h1>
            </div>
            <div>
                <core-media-query query="max-width: 640px" queryMatches="{{phoneScreen}}"></core-media-query>
                <div horizontal layout>
                    <div>
                        <nomnow-text-button id="sign-out-button" on-tap="{{fireSignOutEvent}}">Sign out</nomnow-text-button>
                    </div>
                    <template if="{{!phoneScreen}}">
                        <backend-collection-query collection="{{collections.clientCollection}}"
                                                  result="{{clientList}}"></backend-collection-query>
                        <div id="user-photo-container">
                            <img id="user-photo" src="{{clientList[0].photo.url}}" alt="User photo." height="50" />
                        </div>
                    </template>
                </div>
            </div>
        </div>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>