<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../price-formatter/price-formatter.html">

<!-- Declaration of polymer order-item custom element. -->
<polymer-element name="order-item" attributes="name quantity price" noscript>
	<template>
		<style>
            :host {
                display: block;
                /*min-height: 50px;*/
            }
			.item-details .quantity {
				color: rgba(0, 0, 0, 0.3);
				font-size: 13px;
			}

			.item-details .price {
				margin-left: 15px;
				font-size: 13px;
			}

			.item-details {
				font-size: 14px;
				color: rgba(0, 0, 0, 0.7);
				padding: 5px 0 5px 0;
			}
		</style>
		<div class="item-details" horizontal layout>
			<div flex>
				{{name}}
			</div>
			<div class="quantity">
				x{{quantity}}
			</div>
			<div class="price">
				<price-formatter value="{{price}}" symbol="€"></price-formatter>
			</div>
		</div>
	</template>
</polymer-element>