<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../todo-input/todo-input.html">
<link rel="import" href="../todo-elem/todo-elem.html">
<link rel="import" href="../event-dispatcher/event-dispatcher.html">
<link rel="import" href="../web-animations-api/web-animations-api.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer todo-list custom element. -->
<polymer-element name="todo-list" attributes="list">
    <template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
        <theme-style>
            :host {
                display: block;
                width: 100%;
                padding: 5px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            .todo-wrapper todo-elem:not(:last-child) {
                border-bottom: 1px solid {{theme.color.todoSeparatorColor}};
            }
            todo-elem {
                background-color: {{theme.color.todoBgColor}};
            }
        </theme-style>
        <div id="todoWrapper" class="todo-wrapper" layout vertical>
            <template repeat="{{todo in todos}}">
                <todo-elem model="{{todo}}">
                    <event-dispatcher event="todo-deleted"
                                      handler="{{todoDeletedHandler}}"
                                      keepAlive></event-dispatcher>
                </todo-elem>
            </template>
        </div>
</template>
<script src="harmony/build/build.js"></script>
</polymer-element>