<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../ripple-effect/ripple-effect.html">

<!-- Declaration of polymer clickable-list-item custom element. -->
<polymer-element name="clickable-list-item" attributes="model">
	<template>
        <style>
            :host {
                display: block;
            }
        </style>
		<div class="container" relative on-tap="{{fireClickEvent}}">
			<content></content>
            <ripple-effect></ripple-effect>
		</div>
	</template>
    <script src="harmony/build/build.js"></script>
</polymer-element>