<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer proto-bouncer custom element. -->
<polymer-element name="proto-bouncer" noscript>
    <template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
        <theme-style>
            :host {
                width: 20px;
                height: 20px;
                position: relative;
                display: inline-block;
            }

            .bounce-first, .bounce-second {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: {{theme.color.protoBouncerBgColor}};
                opacity: 0.3;
                position: absolute;
                top: 0;
                left: 0;

                -webkit-animation: bounce 2.0s infinite ease-in-out;
                animation: bounce 2.0s infinite ease-in-out;
            }

            .bounce-second {
                -webkit-animation: bounce 2.0s infinite ease-in-out;
                -webkit-animation-delay: -1.0s;
                animation-delay: -1.0s;
            }

            @-webkit-keyframes bounce {
                0%, 100% {
                    -webkit-transform: scale(0.3)
                }
                50% {
                    -webkit-transform: scale(1.0)
                }
            }

            @keyframes bounce {
                0%, 100% {
                    transform: scale(0.3);
                    -webkit-transform: scale(0.3);
                }
                50% {
                    transform: scale(1.0);
                    -webkit-transform: scale(1.0);
                }
            }
        </theme-style>
        <div class="bounce-first"></div>
        <div class="bounce-second"></div>
    </template>
</polymer-element>