<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../start-rating-bar/start-rating-bar.html">
<link rel="import" href="../restaurant-schedule/restaurant-schedule.html">
<link rel="import" href="../open-closed-tag/open-closed-tag.html">
<link rel="import" href="../hoodie-backend-adapter/hoodie-backend-adapter.html">
<link rel="import" href="../hoodie-parse-adapter-plugin/hoodie-parse-adapter-plugin.html">
<link rel="import" href="../backend-collection/backend-collection.html">
<link rel="import" href="../restaurant-category-preview/restaurant-category-preview.html">

<!-- Declaration of polymer restaurant-detailed-view custom element. -->
<polymer-element name="restaurant-detailed-view" attributes="restaurant" noscript>
	<template>
		<style>
			.photo {
                text-align: center;
                padding: 10px 10px 5px 10px;
                margin-top: 5px;
                border-top: 1px solid rgba(250, 178, 49, 0.57);
                border-bottom: 1px solid rgba(250, 178, 49, 0.57);
			}
            .info-tag {
                text-transform: uppercase;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.5);
                padding: 5px;
            }
            .placeholder {
                color: rgba(0, 0, 0, 0.3);
                font-size: 13.5px;
                margin: 0;
                padding: 10px 5px 10px 5px;
            }
            .subtitle {
                font-weight: 300;
                font-size: 14px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            .subtitle.menu {
                padding-bottom: 15px;
                border-bottom: 1px solid rgba(250, 178, 49, 0.17);
            }
            .rating {
                margin-top: 15px;
            }
            restaurant-schedule {
                color: rgba(0, 0, 0, 0.6);
                padding: 4px;
            }
            open-closed-tag {
                color: rgba(0, 0, 0, 0.3);
                padding: 5px;
            }
            clickable-list-item::shadow > .container {
                padding: 10px 5px 10px 5px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            clickable-list-item:not(:last-of-type)::shadow > .container {
                border-bottom: 1px solid rgba(0, 0, 0, 0.04);
            }
            restaurant-category-preview {
                margin-bottom: 5px;
            }
		</style>
        <nomnow-data-layer collections="{{collections}}"></nomnow-data-layer>

		<div vertical layout>
			<div class="photo">
                <template if="{{restaurant.photo.url}}">
                    <img src="{{restaurant.photo.url}}" height="80" />
                </template>
                <template if="{{!restaurant.photo.url}}">
                    <img src="../restaurant-explorer-view/assets/images/restaurant_default_image.png" height="80" />
                </template>
			</div>
            <div class="rating" horizontal layout>
                <div class="info-tag">
                    Classification:
                </div>
                <div flex>
                    <start-rating-bar classification="{{restaurant.rating}}"></start-rating-bar>
                </div>
                <div>
                    <open-closed-tag openingDateISO="{{schedule.startHour.iso}}"
                                     closingDateISO="{{schedule.finishHour.iso}}">
                    </open-closed-tag>
                </div>
            </div>
            <div class="schedule" horizontal layout>
                <div class="info-tag">
                    Schedule:
                </div>
                <div>
                    <backend-collection-query collection="{{collections.scheduleCollection}}" findById
                                              objectId="{{restaurant.schedule[0].objectId}}"
                                              result="{{schedule}}">
                    </backend-collection-query>
                    <restaurant-schedule openingDateISO="{{schedule.startHour.iso}}"
                                         closingDateISO="{{schedule.finishHour.iso}}">
                    </restaurant-schedule>
                </div>
            </div>
            <h4 class="subtitle menu">Menu</h4>
            <template repeat="{{category in restaurant.categories}}">
                <backend-collection-query collection="{{collections.categoryCollection}}" findById
                                          objectId="{{category.objectId}}"
                                          result="{{category}}"></backend-collection-query>
                <restaurant-category-preview restaurant="{{restaurant}}" condensed
                                             category="{{category}}"></restaurant-category-preview>
            </template>
            <template if="{{!restaurant.categories.length}}">
                <p class="placeholder">No information available.</p>
            </template>
		</div>
	</template>
</polymer-element>