<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/font-roboto/roboto.html">

<link rel="import" href="../proto-service-worker/proto-service-worker.html">
<link rel="import" href="../hoodie-backend-adapter/hoodie-backend-adapter.html">
<link rel="import" href="../hoodie-parse-adapter-plugin/hoodie-parse-adapter-plugin.html">
<link rel="import" href="../nomnow-data-layer/nomnow-data-layer.html">
<link rel="import" href="../backend-collection/backend-collection.html">
<link rel="import" href="../nomnow-login-window/nomnow-login-window.html">
<link rel="import" href="../nomnow-logged-window/nomnow-logged-window.html">
<link rel="import" href="../event-dispatcher/event-dispatcher.html">

<link rel="import" href="../nomnow-theme-bright/nomnow-theme-bright.html">

<!-- Declaration of polymer nomnow-app custom element. -->
<polymer-element name="nomnow-app">
	<template>
		<style>
			:host {
				font-family: 'RobotoDraft', sans-serif;
				font-weight: 300;
			}
		</style>
		<!--<proto-service-worker version="0.0.1" preCacheUrls="['./', '/_api/_files/hoodie.js']"></proto-service-worker>-->
		<nomnow-data-layer adapter="{{adapter}}"></nomnow-data-layer>
		<template if="{{!adapter.session.username && !signInSkipped}}">
            <nomnow-login-window>
				<event-dispatcher event="facebook-sign-in-tap"
								  handler="{{adapter.session.signInWithFacebook}}">
				</event-dispatcher>
                <event-dispatcher event="skip-sign-in-tap"
                                  handler="{{skipSignIn}}">
                </event-dispatcher>
            </nomnow-login-window>
		</template>
		<template if="{{adapter.session.username || signInSkipped}}">
            <nomnow-logged-window>
                <event-dispatcher event="sign-out"
                                  handler="{{signOut}}"></event-dispatcher>
            </nomnow-logged-window>
		</template>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>