<!doctype html>
<html ng-app="example-app">
	<head>
		<title>Angular example app</title>
		<meta charset="UTF-8">

		<script type="text/javascript" src="lib/js/angular.min.js"></script>
		<script type="text/javascript" src="js/example.js"></script>

		<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	</head>
	<body>
		<div>
			<h2>Data binding, sharing between controllers and data filters using AngularJS</h2>
			<div ng-controller="ExampleCtrl">
				<input type="text" ng-model="data.message" />
				<p>{{data.message}}</p>
			</div>
			<div ng-controller="DuplicatedCtrl">
				<p>{{data.message|reverse}}</p>

				<h2>Directives</h2>
				<directive-example suffix="custom ending" mouseover="mouse-over" mouseleave></directive-example>

				<h2>Isolated scope</h2>
				<isolated></isolated>
				<isolated></isolated>
				<h2>Non isolated scope</h2>
				<non-isolated></non-isolated>
				<non-isolated></non-isolated>
				<h2>Call method from the controller scope</h2>
				<isolated-communication done="outOfScopeMessage(task)"></isolated-communication>
				<h2>Bidirectional binding between an isolated scope and the controller scope</h2>
				<input type="text" ng-model="bidirmessage" />
				<isolated-bidirectional message="bidirmessage"></isolated-bidirectional>
				<h2>Isolated scope, atribute value</h2>
				<isolated-attr-value message="This is it"></isolated-attr-value>
			</div>
		</div>
	</body>
</html>