<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">

<!-- Declaration of the app theme values. -->
<global-theme-values>
    <!--                    -->
    <!--    COLOR VALUES    -->
    <!--                    -->
    <global-theme-color name="bgColor">#e0e0e0</global-theme-color>
    <global-theme-color name="mainContainerBgColor">#eaeaea</global-theme-color>
    <global-theme-color name="buttonBgColor">rgb(98, 98, 98)</global-theme-color>
    <global-theme-color name="redButtonBgColor">#A64E4E</global-theme-color>
    <global-theme-color name="buttonTextColor">rgba(255,255,255,0.8)</global-theme-color>
    <global-theme-color name="bigTitleColor">rgba(0, 0, 0, 0.87)</global-theme-color>
    <global-theme-color name="mediumTitleColor">rgba(0, 0, 0, 0.7)</global-theme-color>

    <global-theme-color name="menuIconColor">rgba(0, 0, 0, 0.7)</global-theme-color>
    <global-theme-color name="genericPopupWrapperBgColor">rgba(234, 234, 234, 0.93)</global-theme-color>
    <global-theme-color name="genericPopupBgColor">#f5f5f5</global-theme-color>
    <global-theme-color name="popupInputBorderColor">rgba(99, 99, 99, 0.07)</global-theme-color>
    <global-theme-color name="textInputBgColor">#4b4b4b</global-theme-color>
    <global-theme-color name="popupMessageBgColor">#f5f5f5</global-theme-color>
    <global-theme-color name="popupMessageColor">#555555</global-theme-color>
    <global-theme-color name="protoBouncerBgColor">#CFCFCF</global-theme-color>
    <global-theme-color name="registerFormBgColor">#f5f5f5</global-theme-color>
    <global-theme-color name="rippleBgColor">rgba(0, 0, 0, 0.1)</global-theme-color>
    <global-theme-color name="rippleBubbleColor">rgba(0, 0, 0, 0.3)</global-theme-color>
    <global-theme-color name="todoTextColor">#555</global-theme-color>
    <global-theme-color name="todoBgColor">#eaeaea</global-theme-color>
    <global-theme-color name="todoDeleteButtonColor">#aaaaaa</global-theme-color>
    <global-theme-color name="todoInputBgColor">#fbfbfb</global-theme-color>
    <global-theme-color name="todoSeparatorColor">#e6e6e6</global-theme-color>
    <global-theme-color name="weatherWidgetTextColor">rgba(0, 0, 0, 0.87)</global-theme-color>
    <global-theme-color name="weatherWidgetDimTextColor">rgba(0, 0, 0, 0.5)</global-theme-color>
    <!--                    -->
    <!--    PATH VALUES     -->
    <!--                    -->
    <global-theme-src name="desktopHeaderImg">
        /components/proto-theme-bright/assets/images/desktop_bright.png,
        /components/proto-theme-bright/assets/images/desktop_2x_bright.png 2x
    </global-theme-src>
    <global-theme-src name="tabletHeaderImg">
        /components/proto-theme-bright/assets/images/tablet_bright.png,
        /components/proto-theme-bright/assets/images/tablet_2x_bright.png 2x
    </global-theme-src>
    <global-theme-src name="phoneHeaderImg">
        /components/proto-theme-bright/assets/images/phone_bright.png,
        /components/proto-theme-bright/assets/images/phone_2x_bright.png 2x
    </global-theme-src>
    <global-theme-src name="headerFallbackImg">
        /components/proto-theme-bright/assets/images/desktop_bright.png
    </global-theme-src>
</global-theme-values>
