<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-media-query/core-media-query.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<link rel="import" href="../pager-tile/pager-tile.html">
<link rel="import" href="../nomnow-phone-content/nomnow-phone-content.html">
<link rel="import" href="../nomnow-tablet-content/nomnow-tablet-content.html">
<link rel="import" href="../nomnow-desktop-content/nomnow-desktop-content.html">

<!-- Declaration of polymer nomnow-content-container custom element. -->
<polymer-element name="nomnow-content-container">
	<template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
		<theme-style>
			:host {
                position: absolute;
                width: 100%;
                height: 100%;
				display: block;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow-y: auto;
                padding-top: 70px;
			}
            nomnow-phone-content::shadow .page-content-wrapper,
            nomnow-tablet-content::shadow .page-content-wrapper,
            nomnow-desktop-content::shadow .page-content-wrapper {
                margin: auto;
                max-width: {{theme.dimension.maxPageWidth}};
            }
            #container {
                height: 100%;
            }
		</theme-style>
        <div id="container">
            <core-media-query query="max-width: 640px" queryMatches="{{phoneScreen}}"></core-media-query>
            <core-media-query query="max-width: 1135px" queryMatches="{{tabletScreen}}"></core-media-query>
            <template if="{{phoneScreen}}">
                <nomnow-phone-content>
                    <content></content>
                </nomnow-phone-content>
            </template>
            <template if="{{tabletScreen && !phoneScreen}}">
                <nomnow-tablet-content>
                    <content></content>
                </nomnow-tablet-content>
            </template>
            <template if="{{!tabletScreen && !phoneScreen}}">
                <nomnow-desktop-content>
                    <content></content>
                </nomnow-desktop-content>
            </template>
        </div>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>