<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer generic-popup custom element. -->
<polymer-element name="generic-popup">
	<template>
		<style>
			:host {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
                z-index: 100;
			}
            div#container {
                height: 100%;
                width: 100%;
                position: relative;
                z-index: 100;
            }
		</style>
        <div id="container" horizontal layout center center-justified>
            <content></content>
        </div>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>