<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer backend-adapter-interface custom element. -->
<polymer-element name="backend-adapter-interface">
	<script src="harmony/build/build.js"></script>
</polymer-element>
