<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-input/core-input.html">
<link rel="import" href="../nomnow-icon-button/nomnow-icon-button.html">
<link rel="import" href="../price-formatter/price-formatter.html">
<link rel="import" href="../nomnow-data-layer/nomnow-data-layer.html">

<!-- Declaration of polymer add-to-chart-view custom element. -->
<polymer-element name="add-to-chart-view" attributes="product itemToEdit">
	<template>
		<style>
            :host {
                display: block;
            }
            .info-tag {
                text-transform: uppercase;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.5);
                padding: 5px;
            }
            .product-detail-value {
                font-size: 13px;
                color: rgba(0, 0, 0, 0.6);
                padding: 4px 0 4px 0;
            }
            .product-detail-value #quantityInput {
                width: 100%;
            }
            .observations-container {
                margin: 5px 5px 25px 5px;
                position: relative;
                min-height: 100px;
            }
            .observations-container > textarea {
                position: absolute;
                padding: 10px 5px 10px 5px;
                width: 100%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                outline: none;
                background-color: transparent;
                border: 1px solid rgba(0, 0, 0, 0.04);
                resize: none;
                height: 100%;
                font-family: inherit;
                font-weight: inherit;
                font-size: 13px;
            }
            #view-layout {
                height: 100%;
            }
            #header {
                margin-bottom: 20px;
            }
            #close-button {
                margin: 0 8px 0 0;
            }
            #page-title {
                font-weight: 300;
                display: inline-block;
                position: relative;
                top: 2px;
                text-transform: uppercase;
                margin: 2px 20px 0 0;
            }
		</style>
        <nomnow-data-layer collections="{{collections}}"></nomnow-data-layer>

        <div id="view-layout">
            <div id="header" horizontal layout>
                <nomnow-icon-button id="close-button" icon="clear"
                                    on-tap="{{closePopupClicked}}"></nomnow-icon-button>
                <h4 id="page-title" flex>
                    <template if="{{itemToEdit}}">
                        Edit product
                    </template>
                    <template if="{{!itemToEdit}}">
                        Add product
                    </template>
                </h4>
                <nomnow-icon-button icon="chevron-right"
                                    on-tap="{{addProductClicked}}"></nomnow-icon-button>
            </div>
            <div horizontal layout>
                <div class="info-tag">
                    Product:
                </div>
                <div class="product-detail-value">
                    {{product.name}}
                </div>
            </div>
            <div horizontal layout>
                <div class="info-tag">
                    Price:
                </div>
                <div class="product-detail-value">
                    <price-formatter value="{{product.price}}" symbol="€"></price-formatter>
                </div>
            </div>
            <div horizontal layout>
                <div class="info-tag">
                    Quantity:
                </div>
                <div class="product-detail-value" flex>
                    <input id="quantityInput" is="core-input" preventInvalidInput type="number"
                           placeholder="1" value="1" min="1" committedValue="{{quantity}}">
                </div>
            </div>
            <div class="info-tag">
                Observations:
            </div>
            <div class="observations-container" flex>
                <textarea id="observationsInput"></textarea>
            </div>
        </div>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>