<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../order-detailed-view/order-detailed-view.html">

<!-- Declaration of polymer last-order-tile custom element. -->
<polymer-element name="last-order-tile" attributes="order">
	<template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
		<style>
            h4 {
                font-weight: 300;
                text-transform: uppercase;
                margin-bottom: 15px;
            }
            .placeholder {
                color: rgba(0, 0, 0, 0.3);
                font-size: 14px;
                margin-bottom: 20px;
            }
            .placeholder-wrapper {
                text-align: center;
                border-bottom: 1px solid rgba(250, 178, 49, 0.17);
            }
			#placeholder-image {
				margin: 20px 0 0px 0px;
				opacity: 0.2;
				height: 104px;
			}
            #last-order-details {
                border-bottom: 1px solid rgba(250, 178, 49, 0.57);
                padding-bottom: 5px;
                margin-bottom: 5px;
            }
            #last-order-details::shadow #view-details-button {
                display: none;
            }
		</style>
		<template if="{{order}}">
			<h4>Being delivered</h4>
			<order-detailed-view id="last-order-details" order="{{order}}"></order-detailed-view>
		</template>
		<template if="{{!order}}">
			<h4>No active orders</h4>
			<div vertical layout class="placeholder-wrapper">
				<div>
					<img id="placeholder-image" src="{{theme.src.courierBicycleFallback}}"
						 srcset="{{theme.src.courierBicycle}}"
						 alt="Courier bicycle image." height="196">
				</div>
				<div>
                    <p class="placeholder">A pizza today, maybe?</p>
				</div>
			</div>
		</template>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>