<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../proto-button/proto-button.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer proto-text-button-upload custom element. -->
<polymer-element name="proto-button-upload" attributes="text">
	<template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
        <theme-style>
            :host {
                background-color: #CCCCCC;
                position: relative;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
            }
            label {
                display: block;
                height: 100%;
            }
            .text {
                text-align: center;
                padding: 15px;
                padding-top: 10px;
                padding-bottom: 8px;
                margin: 0px;
                font-size: 12px;
                font-weight: 500;
                color: {{theme.color.buttonTextColor}};
            }
        </theme-style>
        <proto-button>
            <p class="text">{{text}}</p>
            <label class="innerRipple">
                <input id="profilePicUploader" type="file" accept="image/*" hidden on-change="{{fireUploadEvent}}" />
            </label>
        </proto-button>
	</template>
    <script src="harmony/build/build.js"></script>
</polymer-element>