<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer proto-service-service-worker custom element. -->
<polymer-element name="proto-service-worker" attributes="version preCacheUrls">
	<template>
		<style>
			/* TODO */ 
		</style>
		<!-- TODO -->
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>