<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of the app theme values. -->
<global-theme-values>
    <!--                    -->
    <!--    COLOR VALUES    -->
    <!--                    -->
    <global-theme-color name="bgColor">#22333C</global-theme-color>
    <global-theme-color name="mainContainerBgColor">rgba(25, 39, 47, 0.96)</global-theme-color>
    <global-theme-color name="buttonBgColor">rgba(66, 66, 66, 0.84)</global-theme-color>
    <global-theme-color name="redButtonBgColor">#A64E4E</global-theme-color>
    <global-theme-color name="buttonTextColor">rgba(255, 255, 255, 0.87)</global-theme-color>
    <global-theme-color name="bigTitleColor">rgba(255, 255, 255, 0.87)</global-theme-color>
    <global-theme-color name="mediumTitleColor">rgba(249, 249, 249, 0.88)</global-theme-color>

    <global-theme-color name="menuIconColor">rgba(255, 255, 255, 0.7)</global-theme-color>
    <global-theme-color name="genericPopupWrapperBgColor">rgba(34, 51, 60, 0.98)</global-theme-color>
    <global-theme-color name="genericPopupBgColor">rgba(0, 0, 0, 0.11)</global-theme-color>
    <global-theme-color name="popupInputBorderColor">rgba(251, 231, 177, 0.1)</global-theme-color>
    <global-theme-color name="textInputBgColor">#ffffff</global-theme-color>
    <global-theme-color name="popupMessageBgColor">rgba(0, 0, 0, 0.11)</global-theme-color>
    <global-theme-color name="popupMessageColor">rgba(255, 255, 255, 0.86)</global-theme-color>
    <global-theme-color name="protoBouncerBgColor">#CFCFCF</global-theme-color>
    <global-theme-color name="registerFormBgColor">rgba(0, 0, 0, 0.11)</global-theme-color>
    <global-theme-color name="rippleBgColor">rgba(0, 0, 0, 0.05)</global-theme-color>
    <global-theme-color name="rippleBubbleColor">rgba(0, 0, 0, 0.3)</global-theme-color>
    <global-theme-color name="todoTextColor">#555</global-theme-color>
    <global-theme-color name="todoBgColor">#eaeaea</global-theme-color>
    <global-theme-color name="todoDeleteButtonColor">#aaaaaa</global-theme-color>
    <global-theme-color name="todoInputBgColor">#fbfbfb</global-theme-color>
    <global-theme-color name="todoSeparatorColor">#e6e6e6</global-theme-color>
    <global-theme-color name="weatherWidgetTextColor">rgba(255, 255, 255, 0.87)</global-theme-color>
    <global-theme-color name="weatherWidgetDimTextColor">rgba(255, 255, 255, 0.5)</global-theme-color>
    <!--                    -->
    <!--    PATH VALUES     -->
    <!--                    -->
    <global-theme-src name="desktopHeaderImg">
        /components/proto-theme-bright/assets/images/desktop.png,
        /components/proto-theme-bright/assets/images/desktop_2x.png 2x
    </global-theme-src>
    <global-theme-src name="tabletHeaderImg">
        /components/proto-theme-bright/assets/images/tablet.png,
        /components/proto-theme-bright/assets/images/tablet_2x.png 2x
    </global-theme-src>
    <global-theme-src name="phoneHeaderImg">
        /components/proto-theme-bright/assets/images/phone.png,
        /components/proto-theme-bright/assets/images/phone_2x.png 2x
    </global-theme-src>
    <global-theme-src name="headerFallbackImg">
        /components/proto-theme-bright/assets/images/desktop.png
    </global-theme-src>
</global-theme-values>