{{#each this}}
  <article class="photo">
    <h1>
      <a href="{{flickrUrl}}">
        <span class="main-photo">
            <picture>
              <source media="(min-width: 1024px)" srcset="static/imgs/extralarge.jpg" />
              <source media="(min-width: 800px)" srcset="static/imgs/large.jpg" />
              <!-- img tag for browsers that do not support picture element -->
              <img src="static/imgs/medium.jpg" alt="a cute kitten" class="main-photo-img" />
            </picture>
        </span>
        <span class="title">{{title}}</span>
      </a>
    </h1>
    {{#if description}}
      <p class="description">{{{description}}}</p>
    {{/if}}
  </article>
{{/each}}
