<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../pager-tile/pager-tile.html">
<link rel="import" href="../ripple-effect/ripple-effect.html">
<link rel="import" href="../start-rating-bar/start-rating-bar.html">
<link rel="import" href="../restaurant-schedule/restaurant-schedule.html">
<link rel="import" href="../restaurant-detailed-view/restaurant-detailed-view.html">
<link rel="import" href="../open-closed-tag/open-closed-tag.html">
<link rel="import" href="../add-to-chart-view/add-to-chart-view.html">

<!-- Declaration of polymer restaurant-explorer-view custom element. -->
<polymer-element name="restaurant-explorer-view" attributes="restaurants">
	<template>
		<style>
			:host {
				display: block;
			}
			h4, h5 {
				font-weight: 300;
			}
            h5 {
                margin-top: 5px;
                color: rgba(0, 0, 0, 0.6);
            }
			p {
				font-size: 14px;
                margin: 0;
			}
            .restaurant-name {
                margin-bottom: 2px;
                margin-left: 2px;
                margin-top: 1px;
            }
            .restaurant-item-info {
                margin: 5px 5px 0 10px;
            }
            clickable-list-item::shadow > .container {
                padding: 10px 5px 10px 5px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            clickable-list-item:not(:last-of-type)::shadow > .container {
                border-bottom: 1px solid rgba(0, 0, 0, 0.04);
            }
            .restaurant-schedule {
                padding: 3px 5px 0;
                color: rgba(0, 0, 0, 0.3);
                text-align: right;
            }
            .restaurant-schedule restaurant-schedule {
                margin-top: 6px;
            }
		</style>
        <nomnow-data-layer collections="{{collections}}"></nomnow-data-layer>

		<pager-tile id="pagerTile">
			<section layout vertical title="Restaurants">
				<h5>near Porto</h5>
				<div>
                    <template repeat="{{restaurant in restaurants}}">
                        <clickable-list-item model="{{restaurant}}">
                            <div horizontal layout>
                                <div>
                                    <template if="{{restaurant.photo.url}}">
                                        <img class="restaurant-preview" src="{{restaurant.photo.url}}"
                                             width="50" height="50" style="vertical-align: middle;" />
                                    </template>
                                    <template if="{{!restaurant.photo.url}}">
                                        <img class="restaurant-preview"
                                             src="assets/images/restaurant_default_image.png"
                                             width="50" height="50" style="vertical-align: middle;" />
                                    </template>
                                </div>
                                <div class="restaurant-item-info">
                                    <div horizontal layout>
                                        <div>
                                            <p class="restaurant-name">{{restaurant.name}}</p>
                                        </div>
                                    </div>
                                    <start-rating-bar classification="{{restaurant.rating}}"></start-rating-bar>
                                </div>
                                <div class="restaurant-schedule" flex>
                                    <backend-collection-query collection="{{collections.scheduleCollection}}" findById
                                                              objectId="{{restaurant.schedule[0].objectId}}"
                                                              result="{{schedule}}"></backend-collection-query>
                                    <div vertical layout>
                                        <div>
                                            <open-closed-tag openingDateISO="{{schedule.startHour.iso}}"
                                                             closingDateISO="{{schedule.finishHour.iso}}">
                                            </open-closed-tag>
                                        </div>
                                        <div>
                                            <restaurant-schedule openingDateISO="{{schedule.startHour.iso}}"
                                                                 closingDateISO="{{schedule.finishHour.iso}}">
                                            </restaurant-schedule>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <event-dispatcher event="list-item-clicked" handler="{{restaurantClicked}}">
                            </event-dispatcher>
                        </clickable-list-item>
                    </template>
				</div>
			</section>
			<section layout vertical title="{{selectedRestaurant.name}}">
				<div>
					<restaurant-detailed-view restaurant="{{selectedRestaurant}}">
                        <!--<event-dispatcher event="list-item-clicked"-->
                                          <!--handler="{{productClicked}}"></event-dispatcher>-->
                        <event-dispatcher event="category-view-more-clicked"
                                          handler="{{viewMoreOfCategoryClicked}}"></event-dispatcher>
                    </restaurant-detailed-view>
				</div>
			</section>
            <section layout vertical title="{{selectedCategory.name}}">
                <div>
                    <restaurant-category-preview restaurant="{{selectedRestaurant}}"
                                                 category="{{selectedCategory}}"></restaurant-category-preview>
                    <!--<add-to-chart-view product="{{selectedProduct}}"></add-to-chart-view>-->
                </div>
            </section>
		</pager-tile>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>