<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer side-panel custom element. -->
<polymer-element name="side-panel" extends="core-header-panel">
	<template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
        <theme-style>
            :host {
                background-color: [[theme.color.bgColor]];
            }
        </theme-style>
        <shadow></shadow>
    </template>
    <script src="harmony/build/build.js"></script>
</polymer-element>