<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer proto-content custom element. -->
<polymer-element name="proto-content">
	<template>
		<content></content>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>