<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">

<!-- Declaration of polymer dynamic-ajax-request custom element. -->
<polymer-element name="dynamic-ajax-request" hidden
				 attributes="url handleAs auto
				 	params response error method
				 	headers body contentType withCredentials
				 	progress loading">
	<template>
        <core-ajax auto url="{{url}}"
                   params="{{params}}"
                   handleAs="{{handleAs}}"
                   progress="{{progress}}"
                   loading="{{loading}}"
                   on-core-response="{{liveResponseHandler}}"
                   on-core-error="{{liveErrorHandler}}"></core-ajax>
        <core-ajax auto url="{{url}}"
                   params="{{params}}"
                   handleAs="{{handleAs}}"
                   headers='{"Accept": "x-cache/only"}'
                   progress="{{progress}}"
                   loading="{{loading}}"
                   on-core-response="{{cacheResponseHandler}}"
                   on-core-error="{{cacheErrorHandler}}"></core-ajax>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>