<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../bower_components/core-field/core-field.html">
<link rel="import" href="../proto-text-button/proto-text-button.html">
<link rel="import" href="../generic-popup/generic-popup.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer change-password-popup custom element. -->
<polymer-element name="change-password-popup" on-keypress="{{keypressHandler}}">
	<template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
		<theme-style>
            generic-popup {
                background-color: {{theme.color.genericPopupWrapperBgColor}};
            }
            generic-popup::shadow ::content .wrapper-shadow {
                padding: 30px;
                background-color: {{theme.color.genericPopupBgColor}};
            }
            core-field {
                padding-top: 10px;
                padding-bottom: 3px;
                padding-left: 0px;
                padding-right: 3px;
                border-bottom: 1px solid {{theme.color.popupInputBorderColor}};
                margin-bottom: 5px
            }
            polyfill-next-selector { content: 'core-field::shadow ::content input'; }
            core-field::shadow ::content input {
                padding-bottom: 2px;
                color: {{theme.color.textInputBgColor}};
                font-size: 13px;
            }
            .title {
                color: {{theme.color.bigTitleColor}};
                font-weight: 400;
                font-size: 27px;
                margin: 15px;
                margin-left: 0;
                margin-top: 20px;
            }
            proto-text-button {
                margin-top: 20px;
                background-color: {{theme.color.buttonBgColor}};
            }
		</theme-style>
		<generic-popup id="popup">
            <paper-shadow z="1" class="wrapper-shadow">
                <h3 class="title">change password</h3>
                <core-field id="current">
                    <input placeholder="current password" flex value="{{password}}" type="password" autofocus>
                </core-field>
                <core-field id="newPassword">
                    <input placeholder="new password" flex value="{{newPassword}}" type="password">
                </core-field>
                <core-field id="passwordConfirmation">
                    <input placeholder="password confirmation" flex value="{{passwordConfirmation}}" type="password">
                </core-field>
                <div horizontal layout end-justified>
                    <proto-text-button text="OK">
                        <event-dispatcher event="tap" handler="{{changePassword}}"></event-dispatcher>
                    </proto-text-button>
                </div>
            </paper-shadow>
        </generic-popup>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>