<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer event-dispatcher custom element. -->
<polymer-element name="event-dispatcher" attributes="event handler keepAlive">
	<script src="harmony/build/build.js"></script>
</polymer-element>