<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer price-formatter custom element. -->
<polymer-element name="price-formatter" attributes="value symbol">
	<template if="{{value}}">
		{{value | setPricePrecision}} {{symbol}}
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>