<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">
<link rel="import" href="../nomnow-login-form/nomnow-login-form.html">

<!-- Declaration of polymer nomnow-login-window custom element. -->
<polymer-element name="nomnow-login-window">
	<template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
        <theme-style>
            :host {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-color: {{theme.color.bgColor}};
            }
            core-animated-pages {
                height: 100%;
            }
        </theme-style>
        <core-animated-pages id="paginator" selected="{{page}}" transitions="slide-from-right">
            <section class="page" horizontal center center-justified layout>
                <nomnow-login-form></nomnow-login-form>
            </section>
            <section class="page" horizontal center center-justified layout>
                <!--<nomnow-register-form></nomnow-register-form>-->
            </section>
        </core-animated-pages>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>