<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../proto-text-button/proto-text-button.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer popup-message custom element. -->
<polymer-element name="popup-message" attributes="message success" on-keypress="{{keypressHandler}}">
	<template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
		<theme-style>
			:host {
                background-color: {{theme.color.popupMessageBgColor}};
            }
            :host > paper-shadow {
                padding: 30px;
            }
            .message {
                color: {{theme.color.popupMessageColor}};
                font-weight: 200;
                font-size: 20px;
                margin: 15px;
                margin-left: 0;
                margin-top: 20px;
            }
            proto-text-button {
                margin-top: 20px;
                background-color: {{theme.color.buttonBgColor}};
            }
		</theme-style>
		<paper-shadow z="1">
            <h5 class="message">{{message}}</h5>
            <div horizontal layout end-justified>
                <proto-text-button text="OK" on-tap="{{close}}"></proto-text-button>
            </div>
        </paper-shadow>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>