<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../generic-popup/generic-popup.html">

<!-- Declaration of polymer nomnow-popup custom element. -->
<polymer-element name="nomnow-popup" noscript>
	<template>
		<style>
			:host {
				position: absolute;
				width: 100%;
				height: 100%;
				padding-top: 70px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			generic-popup {
				position: initial;
				display: block;
				background-color: rgba(255, 254, 250, 0.81);
			}
            @media (min-width: 641px) {
                generic-popup::shadow #container {
                    -ms-flex-align: start;
                    -webkit-align-items: flex-start;
                    align-items: flex-start;
                    padding: 20px 0 20px 0;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }
            }
			::content .popupContent {
				width: 400px;
				padding: 20px;
				background-color: rgba(255, 254, 250, 0.97);
				border: 1px solid rgba(0, 0, 0, 0.79);
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			@media (max-width: 640px) {
                ::content .popupContent {
					height: 100%;
					width: 100%;
					padding: 20px;
					background-color: rgba(255, 254, 250, 0.97);
					border: none;
				}
			}
		</style>
		<generic-popup>
			<content select=".popupContent"></content>
		</generic-popup>
	</template>
</polymer-element>