<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../nomnow-data-layer/nomnow-data-layer.html">
<link rel="import" href="../pager-tile/pager-tile.html">
<link rel="import" href="../proto-loading/proto-loading.html">

<!-- Declaration of polymer checkout-view custom element. -->
<polymer-element name="checkout-view" attributes="items">
	<template>
		<style>
            :host {
                height: 100%;
                position: relative;
            }
            .detail-input-container input {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
            pager-tile,
            pager-tile::shadow #tile-layout {
                height: 100%;
            }
            pager-tile::shadow #header {
                margin-top: 10px;
                margin-bottom: 25px;
            }
            pager-tile::shadow #paginator::shadow ::content > section {
                position: absolute;
            }
			#view-layout {
				height: 100%;
			}
			#header {
				margin-bottom: 20px;
			}
			#clear-button {
				margin: 0 8px 0 0;
			}
			#page-title {
				font-weight: 300;
				display: inline-block;
				position: relative;
				top: 2px;
				text-transform: uppercase;
				margin: 2px 20px 0 0;
			}
            #map-container {
                height: 100%;
                position: relative;
                border: 1px solid rgba(0, 0, 0, 0.33);
                box-sizing: border-box;
            }
            .info-tag {
                text-transform: uppercase;
                font-size: 13px;
                color: rgba(0, 0, 0, 0.5);
                padding: 5px;
            }
            .info-tag.observations {
                margin-top: 10px;
            }
            .observations-container {
                margin: 5px 5px 25px 5px;
                position: relative;
                min-height: 100px;
            }
            .observations-container > textarea {
                position: absolute;
                padding: 10px 5px 10px 5px;
                width: 100%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                outline: none;
                background-color: transparent;
                border: 1px solid rgba(0, 0, 0, 0.04);
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                -webkit-appearance: none;
                resize: none;
                height: 100%;
                font-family: inherit;
                font-weight: inherit;
                font-size: 13px;
            }
            .detail-input-container {
                font-size: 13px;
                color: rgba(0, 0, 0, 0.6);
                padding: 4px 0 4px 0;
            }
            #item-list {
                display: block;
                overflow-y: scroll;
                padding: 0 5px 0 10px;
                border-bottom: 1px solid rgba(250, 178, 49, 0.17);
            }
            #item-list .total-cost {
                color: rgba(0, 0, 0, 0.5);
                padding: 10px 0 10px 0;
                font-size: 14px;
            }
            .confirm-order-content {
                padding: 15px 5px 10px 5px;
            }
            .order-detail-value {
                font-size: 13px;
                text-align: right;
                color: rgba(0, 0, 0, 0.6);
                padding: 5px 0 5px 0;
            }
            #loading-container {
                background-color: rgba(255, 254, 250, 0.81);
                z-index: 10;
            }
            proto-loading {
                width: 6px;
                height: 6px;
                margin-left: -15px;
            }
            proto-loading::shadow .dot {
                background: #000;
            }
		</style>
        <nomnow-data-layer collections="{{collections}}"></nomnow-data-layer>
        <backend-collection-query id="cenas" collection="{{collections.restaurantCollection}}" findById
                                  objectId="{{items[0].product.restaurant.objectId}}"
                                  result="{{restaurant}}"></backend-collection-query>

        <template if="{{loading}}">
            <div id="loading-container" vertical layout fit center center-justified>
                <p class="info-tag">Just a moment please</p>
                <proto-loading></proto-loading>
            </div>
        </template>
		<div id="view-layout" vertical layout>
            <pager-tile id="pagerTile" nextButton closeButton fillHeight
                        on-close-button-clicked="{{closePopupClicked}}"
                        on-next-button-clicked="{{nextPageHandler}}">
                <section title="Delivery location">
                    <div id="map-container" flex>
                        <google-map id="mapElement"
                                    on-google-map-ready="{{setMapsApiReady}}"
                                    latitude="{{restaurant.location.latitude}}"
                                    longitude="{{restaurant.location.longitude}}"
                                    minZoom="12"
                                    fit>
                            <google-map-marker id="deliveryMarker" draggable
                                               latitude="{{restaurant.location.latitude}}"
                                               longitude="{{restaurant.location.longitude}}"></google-map-marker>
                        </google-map>
                    </div>
                </section>
                <section title="Check address">
                    <div fit vertical layout>
                        <div horizontal layout>
                            <div class="info-tag">
                                Street:
                            </div>
                            <div class="detail-input-container" flex>
                                <input id="quantityInput" is="core-input" value="{{selectedAddress.street}}">
                            </div>
                        </div>
                        <div horizontal layout>
                            <div class="info-tag">
                                Zip code:
                            </div>
                            <div class="detail-input-container">
                                <input id="zipCode" is="core-input" value="{{selectedAddress.zipCode}}">
                            </div>
                        </div>
                        <div horizontal layout>
                            <div class="info-tag">
                                Door:
                            </div>
                            <div class="detail-input-container" flex>
                                <input id="doorNumber" is="core-input" value="{{selectedAddress.doorNumber}}">
                            </div>
                        </div>
                        <div horizontal layout>
                            <div class="info-tag">
                                Floor:
                            </div>
                            <div class="detail-input-container" flex>
                                <input id="floor" is="core-input" value="{{selectedAddress.floor}}"
                                       placeholder="Fill if necessary">
                            </div>
                        </div>
                        <div class="info-tag observations">
                            Observations:
                        </div>
                        <div class="observations-container" flex>
                            <textarea id="observationsInput"></textarea>
                        </div>
                    </div>
                </section>
                <section title="Confirm order">
                    <div fit vertical layout>
                        <div id="item-list" layout vertical flex>
                            <template repeat="{{item in items}}">
                                <order-item name="{{item.product.name}}" quantity="{{item.quantity}}"
                                            price="{{item.product.price}}"></order-item>
                            </template>
                            <div class="total-cost" horizontal layout>
                                <div flex>
                                    Total
                                </div>
                                <div class="price">
                                    <price-formatter value="{{totalPrice}}" symbol="€"></price-formatter>
                                </div>
                            </div>
                        </div>
                        <div class="confirm-order-content" layout vertical flex>
                            <div horizontal layout>
                                <div class="info-tag">
                                    Estimated delivery cost:
                                </div>
                                <div class="order-detail-value" flex>
                                    <template if="{{minDeliveryCost}}">
                                        <price-formatter value="{{minDeliveryCost}}" symbol="€"></price-formatter> -
                                    </template>
                                    <price-formatter value="{{maxDeliveryCost}}" symbol="€"></price-formatter>
                                </div>
                            </div>
                            <div horizontal layout>
                                <div class="info-tag">
                                    Estimated total cost:
                                </div>
                                <div class="order-detail-value" flex>
                                    <template if="{{minPriceWithDelivery}}">
                                        <price-formatter value="{{minPriceWithDelivery}}" symbol="€"></price-formatter> -
                                    </template>
                                    <price-formatter value="{{maxPriceWithDelivery}}" symbol="€"></price-formatter>
                                </div>
                            </div>
                            <div horizontal layout>
                                <div class="info-tag">
                                    Estimated delivery time:
                                </div>
                                <div class="order-detail-value" flex>
                                    <template if="{{minDeliveryTime}}">
                                        {{minDeliveryTime}}m -
                                    </template>
                                    {{maxDeliveryTime}}m
                                </div>
                            </div>
                            <div horizontal layout>
                                <div class="info-tag">
                                    Street:
                                </div>
                                <div class="order-detail-value" flex>
                                    {{selectedAddress.street}}
                                </div>
                            </div>
                            <div horizontal layout>
                                <div class="info-tag">
                                    Zip code:
                                </div>
                                <div class="order-detail-value" flex>
                                    {{selectedAddress.zipCode}}
                                </div>
                            </div>
                            <div horizontal layout>
                                <div class="info-tag">
                                    Door:
                                </div>
                                <div class="order-detail-value" flex>
                                    {{selectedAddress.doorNumber}} {{selectedAddress.floor}}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </pager-tile>
		</div>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>