<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../price-formatter/price-formatter.html">
<link rel="import" href="../order-item/order-item.html">

<!-- Declaration of polymer order-item-list custom element. -->
<polymer-element name="order-item-list" attributes="order" noscript>
	<template>
		<style>
            :host {
                display: block;
            }
            
            .item-list .total-cost {
                color: rgba(0, 0, 0, 0.5);
                margin: 10px 0 10px 0;
                font-size: 13px;
            }
		</style>
        <nomnow-data-layer collections="{{collections}}"></nomnow-data-layer>

		<div class="item-list" layout vertical>
            <template repeat="{{item in order.products}}">
                <backend-collection-query collection="{{collections.orderProductCollection}}" findById
                                          objectId="{{item.objectId}}"
                                          result="{{orderProduct}}"></backend-collection-query>
                <backend-collection-query collection="{{collections.productCollection}}" findById
                                          objectId="{{orderProduct.product.objectId}}"
                                          result="{{product}}"></backend-collection-query>
                <order-item name="{{product.name}}" quantity="{{orderProduct.quantity}}"
                            price="{{orderProduct.realPrice}}"></order-item>
            </template>
			<div class="total-cost" horizontal layout>
				<div flex>
					Total
				</div>
				<div class="price">
					<price-formatter value="{{order.totalPrice}}" symbol="€"></price-formatter>
				</div>
			</div>
		</div>
	</template>
</polymer-element>