<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer open-closed-tag custom element. -->
<polymer-element name="open-closed-tag" attributes="openingDateISO closingDateISO">
	<template>
		<style>
            :host {
                display: inline-block;
                font-size: 12px;
            }
		</style>
        {{status}}
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>