<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-icons/core-icons.html">
<link rel="import" href="../../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../nomnow-icon-button/nomnow-icon-button.html">

<!-- Declaration of polymer pager-tile custom element. -->
<polymer-element name="pager-tile" attributes="nextButton closeButton fillHeight">
	<template>
		<style shim-shadowdom>
            :host {
                display: block;
            }
            core-animated-pages::shadow ::content > section {
                position: initial;
            }
			#back-button,
            #clear-button {
                margin-right: 10px;
            }
            #next-button {
                margin-left: 10px;
            }
            #header {
                margin: 21px 0 5px 0;
            }
            #page-title {
                font-weight: 300;
                display: inline-block;
                position: relative;
                top: 2px;
                text-transform: uppercase;
                margin: 2px 0 0 0;
            }
            #paginator {
                height: 100%;
            }
		</style>
        <div id="tile-layout" vertical layout?="{{fillHeight != undefined}}">
            <div id="header" horizontal layout>
                <template if="{{selectedPage == 0 && closeButton != undefined}}">
                    <nomnow-icon-button id="clear-button" icon="clear"
                                        on-tap="{{closeButtonClicked}}"></nomnow-icon-button>
                </template>
                <template if="{{selectedPage != 0}}">
                    <nomnow-icon-button id="back-button" icon="chevron-left" on-tap="{{back}}"></nomnow-icon-button>
                </template>
                <h4 id="page-title" flex>{{currentTileTitle}}</h4>
                <template if="{{nextButton != undefined}}">
                    <nomnow-icon-button id="next-button" icon="chevron-right"
                                        on-tap="{{nextButtonClicked}}"></nomnow-icon-button>
                </template>
            </div>
            <core-animated-pages id="paginator" selected="{{selectedPage}}">
                <content select="section"></content>
            </core-animated-pages>
        </div>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>