<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../hoodie-backend-adapter/hoodie-backend-adapter.html">
<link rel="import" href="../hoodie-parse-adapter-plugin/hoodie-parse-adapter-plugin.html">
<link rel="import" href="../backend-collection/backend-collection.html">

<!-- Declaration of polymer nomnow-data-layer custom element. -->
<polymer-element name="nomnow-data-layer" attributes="adapter collections">
	<template>
        <hoodie-backend-adapter id="hoodieAdapter">
            <!-- This element implements the backend-adapter-interface element, so it can be used as a
                regular backend adapter with the backend-collection element and relatives -->
            <hoodie-parse-adapter-plugin id="hoodieParseAdapterPlugin"
                                         syncCollections="Order OrderProduct Client User OrderClientData">
            </hoodie-parse-adapter-plugin>
        </hoodie-backend-adapter>
        <!-- App collections -->
        <dom-selector bindChildren="{{collectionsArray}}">
            <backend-collection id="clientCollection" name="Client"
                                backendAdapter="{{$.hoodieParseAdapterPlugin}}"></backend-collection>
            <backend-collection id="orderCollection" name="Order"
                                backendAdapter="{{$.hoodieParseAdapterPlugin}}"></backend-collection>
            <backend-collection id="orderClientDataCollection" name="OrderClientData"
                                backendAdapter="{{$.hoodieParseAdapterPlugin}}"></backend-collection>
            <backend-collection id="restaurantCollection" name="Restaurant"
                                backendAdapter="{{$.hoodieParseAdapterPlugin}}"></backend-collection>
            <backend-collection id="scheduleCollection" name="Schedule"
                                backendAdapter="{{$.hoodieParseAdapterPlugin}}"></backend-collection>
            <backend-collection id="productCollection" name="Product"
                                backendAdapter="{{$.hoodieParseAdapterPlugin}}"></backend-collection>
            <backend-collection id="orderProductCollection" name="OrderProduct"
                                backendAdapter="{{$.hoodieParseAdapterPlugin}}"></backend-collection>
            <backend-collection id="parseUserCollection" name="User"
                                backendAdapter="{{$.hoodieParseAdapterPlugin}}"></backend-collection>
            <backend-collection id="courierCollection" name="Courier"
                                backendAdapter="{{$.hoodieParseAdapterPlugin}}"></backend-collection>
            <backend-collection id="categoryCollection" name="Category"
                                backendAdapter="{{$.hoodieParseAdapterPlugin}}"></backend-collection>
            <backend-collection id="chartCollection" name="chart"
                                requiredProperties="product quantity"
                                backendAdapter="{{$.hoodieAdapter}}"></backend-collection>
        </dom-selector>
	</template>
    <script src="harmony/build/build.js"></script>
</polymer-element>