<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer swipe-to-action custom element. -->
<polymer-element name="swipe-to-action" attributes="offsetLimit">
	<template>
		<style>
			:host {
				display: block;
			}
		</style>
		<content></content>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>