<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../nomnow-scaffold/nomnow-scaffold.html">
<link rel="import" href="../nomnow-header/nomnow-header.html">
<link rel="import" href="../nomnow-content-container/nomnow-content-container.html">
<link rel="import" href="../nomnow-popup/nomnow-popup.html">
<link rel="import" href="../nomnow-popup-message/nomnow-popup-message.html">
<link rel="import" href="../nomnow-message/nomnow-message.html">
<link rel="import" href="../checkout-view/checkout-view.html">
<link rel="import" href="../last-order-tile/last-order-tile.html">

<!-- Declaration of polymer nomnow-logged-window custom element. -->
<polymer-element name="nomnow-logged-window">
    <template>
        <style>
            :host {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        </style>
        <nomnow-data-layer adapter="{{adapter}}" collections="{{collections}}"></nomnow-data-layer>

        <nomnow-scaffold>
            <nomnow-header></nomnow-header>
            <nomnow-content-container>
                <!-- ORDERS' COMPONENTS -->
                <backend-collection-query collection="{{collections.orderCollection}}"
                                          orderBy="parseCreatedAt" descendant
                                          result="{{activeOrdersList}}">
                    <backend-collection-query-param or>
                        <backend-collection-query-param field="state" operator="lessThan" value="12">
                        </backend-collection-query-param>
                        <backend-collection-query-param field="state" operator="equals" value="19">
                        </backend-collection-query-param>
                    </backend-collection-query-param>
                </backend-collection-query>
                <!-- ACTIVE ORDERS -->
                <last-order-tile order="{{activeOrdersList[0]}}"></last-order-tile>
                <template if="{{activeOrdersList.length}}">
                    <order-explorer-view tileTitle="Ongoing orders"
                                         orderList="{{activeOrdersList}}"></order-explorer-view>
                </template>
                <!-- ORDER HISTORY -->
                <backend-collection-query collection="{{collections.orderCollection}}"
                                          orderBy="parseCreatedAt" descendant
                                          result="{{orderList}}">
                    <backend-collection-query-param field="state" operator="greaterThan" value="11">
                    </backend-collection-query-param>
                    <backend-collection-query-param field="state" operator="different" value="19">
                    </backend-collection-query-param>
                </backend-collection-query>
                <order-explorer-view tileTitle="Order history" orderList="{{orderList}}"></order-explorer-view>

                <!-- RESTAURANTS' COMPONENTS -->
                <backend-collection-query collection="{{collections.restaurantCollection}}"
                                          result="{{restaurantList}}"></backend-collection-query>
                <restaurant-explorer-view restaurants="{{restaurantList}}"></restaurant-explorer-view>

                <!-- CHART COMPONENTS -->
                <backend-collection-query collection="{{collections.chartCollection}}"
                                          result="{{chartItemsList}}"></backend-collection-query>
                <chart-view id="chartView" chartItems="{{chartItemsList}}"></chart-view>
            </nomnow-content-container>

            <!-- POPUP LAYOUT -->
            <event-dispatcher event="add-product-to-chart" handler="{{addProductToChartPopup}}"></event-dispatcher>
            <event-dispatcher event="edit-chart-item" handler="{{editChartItemPopup}}"></event-dispatcher>
            <template if="{{addProductToChart || editChartItem}}">
                <nomnow-popup>
                    <add-to-chart-view class="popupContent"
                                       product="{{addProductToChart}}" itemToEdit="{{editChartItem}}">
                        <event-dispatcher event="close-popup-clicked" handler="{{closeAddProductPopup}}" keepAlive>
                        </event-dispatcher>
                        <event-dispatcher event="close-popup-clicked" handler="{{chartView.updateTotalPrice}}">
                        </event-dispatcher>
                    </add-to-chart-view>
                </nomnow-popup>
            </template>
            <event-dispatcher event="chart-checkout" handler="{{checkoutPopup}}"></event-dispatcher>
            <template if="{{showCheckoutPopup}}">
                <nomnow-popup>
                    <checkout-view id="checkoutView" class="popupContent" items="{{chartItems}}">
                        <event-dispatcher event="close-popup-clicked" handler="{{closeCheckoutPopup}}">
                        </event-dispatcher>
                        <event-dispatcher event="checkout-location-set" handler="{{estimateOrderParams}}">
                        </event-dispatcher>
                        <event-dispatcher event="order-checkout" handler="{{processOrder}}">
                        </event-dispatcher>
                    </checkout-view>
                </nomnow-popup>
            </template>
            <event-dispatcher event="show-popup-message" handler="{{appMessagePopup}}"></event-dispatcher>
            <template if="{{appMessage}}">
                <nomnow-popup-message>
                    <nomnow-message class="popupContent" message="{{appMessage}}">
                        <event-dispatcher event="popup-message-close" handler="{{closePopupMessage}}">
                        </event-dispatcher>
                    </nomnow-message>
                </nomnow-popup-message>
            </template>
        </nomnow-scaffold>
    </template>
    <script src="harmony/build/build.js"></script>
</polymer-element>