<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../login-form/login-form.html">
<link rel="import" href="../weather-widget/weather-widget.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer proto-side-menu custom element. -->
<polymer-element name="proto-side-menu" attributes="username">
    <template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
        <theme-style>
            :host {
                display: block;
                width: 100%;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            h3 {
                font-size: 1em;
                font-weight: 200;
                margin: 0;
                margin-top: 12px;
                color: {{theme.color.mediumTitleColor}};
            }
            h3 .small-caps {
                font-size: 13px;
            }
            weather-widget {
                margin-bottom: 15px;
            }
        </theme-style>
        <h3><span class="small-caps">USER:</span> {{username}}</h3>
        <weather-widget></weather-widget>
        <content></content>
    </template>
    <script src="harmony/build/build.js"></script>
</polymer-element>