<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer order-status custom element. -->
<polymer-element name="order-status" attributes="status">
	<template>
		{{statusMessage}}
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>