<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer restaurant-schedule custom element. -->
<polymer-element name="restaurant-schedule" attributes="openingDateISO closingDateISO">
	<template>
		<style>
            :host {
                display: block;
            }
            .daily-schedule {
                font-size: 13px;
                margin: 0;
            }
		</style>
		<div vertical layout>
			<div>
				<p class="daily-schedule">{{openingHour}} - {{closingHour}}</p>
			</div>
		</div>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>