<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer global-theme-values custom element. -->
<polymer-element name="global-theme-values" attributes="themeValues">
	<script src="harmony/build/build.js"></script>
</polymer-element>

<!--TODO create validations for types of resources-->
<polymer-element name="global-theme-color" attributes="name" noscript></polymer-element>
<polymer-element name="global-theme-url" attributes="name" noscript></polymer-element>
<polymer-element name="global-theme-src" attributes="name" noscript></polymer-element>