<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer <%= element_name %> custom element. -->
<polymer-element name="<%= element_name %>">
	<template>
		<style>
			/* TODO */ 
		</style>
		<!-- TODO -->
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>