<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../web-animations-api/web-animations-api.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer ripple-effect custom element. -->
<polymer-element name="ripple-effect" on-down="{{touchingHandler}}" on-up="{{stopTouchingHandler}}">
	<template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
		<theme-style>
            :host {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
            }
            #background {
                background-color: rgba(0, 0, 0, 0.1);
                background-color: {{theme.color.rippleBgColor}};
                opacity: 0;
                width: 100%;
                height: 100%;
            }
            .bubble {
                pointer-events: none;
                width: 20px;
                height: 20px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                position: absolute;
                top: -10px;
                left: -10px;
                background-color: rgba(0, 0, 0, 0.3);
                background-color: {{theme.color.rippleBubbleColor}};
                opacity: 0;
            }
        </theme-style>
        <content></content>
        <div id="background"></div>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>