/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// Mixins

@mixin animation ($name, $duration, $delay, $ease) {
    -webkit-animation: $name $duration $delay $ease;
    -moz-animation:    $name $duration $delay $ease;
    -ms-animation:     $name $duration $delay $ease;
    -o-animation:      $name $duration $delay $ease;
    animation:         $name $duration $delay $ease;
}

@mixin scale ($factor) {
    -webkit-transform: scale($factor);
    -moz-transform:    scale($factor);
    -ms-transform:     scale($factor);
    -o-transform:      scale($factor);
    transform:         scale($factor);
}

@mixin scale-anim () {
    to { @include scale(1.4); }
}

// Definitions

:host {
    color: red;
    font-size: 1.5em;
    @include scale(0.9);
    @include animation(pulse, 0.5s, 0, infinite alternate-reverse);
}

@-webkit-keyframes pulse { @include scale-anim; }
@-moz-keyframes    pulse { @include scale-anim; }
@-ms-keyframes     pulse { @include scale-anim; }
@-o-keyframes      pulse { @include scale-anim; }
@keyframes         pulse { @include scale-anim; }