<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../login-form/login-form.html">
<link rel="import" href="../register-form/register-form.html">
<link rel="import" href="../popup-message/popup-message.html">
<link rel="import" href="../event-dispatcher/event-dispatcher.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<polymer-element name="login-window" attributes="backend errorHandler onLogin">
    <template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
        <theme-style>
            :host {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-color: {{theme.color.bgColor}};
            }

            core-animated-pages {
                height: 100%;
            }

            .page {
                margin-bottom: 50px;
            }
        </theme-style>
        <core-animated-pages id="paginator" selected="{{page}}"
                             transitions="hero-transition slide-up slide-down cross-fade list-cascade">
            <div class="page" horizontal center center-justified layout>
                <login-form hero-id="form" hero>
                    <event-dispatcher event="register-button-tapped" handler="{{registerButtonHandler}}"></event-dispatcher>
                    <event-dispatcher event="error-message" handler="{{errorHandler}}"></event-dispatcher>
                </login-form>
            </div>
            <div class="page" horizontal center center-justified layout>
                <register-form hero-id="form" hero>
                    <event-dispatcher event="login-button-tapped" handler="{{loginButtonHandler}}"></event-dispatcher>
                    <event-dispatcher event="error-message" handler="{{errorHandler}}"></event-dispatcher>
                </register-form>
            </div>
            <div class="page" horizontal center center-justified layout>
                <popup-message hero-id="form" hero message="{{errorMessage}}">
                    <event-dispatcher event="message-closed" handler="{{closeErrorHandler}}"></event-dispatcher>
                </popup-message>
            </div>
        </core-animated-pages>
    </template>
    <script src="harmony/build/build.js"></script>
</polymer-element>