<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer nomnow-message custom element. -->
<polymer-element name="nomnow-message" attributes="message">
	<template>
		<style>
            .message {
                font-size: 15px;
                color: rgba(0, 0, 0, 0.5);
            }
            #ok-button {
                padding-top: 8px;
                padding-bottom: 6px;
            }
		</style>
		<div vertical layout>
			<p class="message">{{message}}</p>
			<div horizontal layout end-justified>
				<nomnow-text-button id="ok-button" on-tap="{{close}}">OK</nomnow-text-button>
			</div>
		</div>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>