<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-scroll-header-panel/core-scroll-header-panel.html">
<link rel="import" href="../proto-header/proto-header.html">

<!-- Declaration of polymer proto-scaffold custom element. -->
<polymer-element name="proto-scaffold" extends="core-drawer-panel">
	<template>
    	<shadow></shadow>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>