<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../hoodie-backend-adapter/hoodie-backend-adapter.html">
<link rel="import" href="../hoodie-parse-adapter-plugin/hoodie-parse-adapter-plugin.html">
<link rel="import" href="../dom-selector/dom-selector.html">
<link rel="import" href="../backend-collection/backend-collection.html">
<link rel="import" href="../iso-date-formatter/iso-date-formatter.html">
<link rel="import" href="../order-status/order-status.html">
<link rel="import" href="../start-rating-bar/start-rating-bar.html">
<link rel="import" href="../hour-formatter/hour-formatter.html">

<!-- Declaration of polymer order-detailed-view custom element. -->
<polymer-element name="order-detailed-view" attributes="order">
	<template>
		<style>
            :host {
                display: block;
            }
            p {
                margin: 0;
            }
            h5, h6 {
                font-weight: 300;
            }
            h6 {
                text-transform: uppercase;
                margin: 0;
                padding: 2px 5px 0 0;
                color: rgba(0, 0, 0, 0.5);
            }
            #order-header {
                margin-top: 10px;
            }
            .button::shadow .text {
                padding-top: 8px;
                padding-bottom: 6px;
            }
            #view-details-button {
                margin-top: 3px;
            }
            .restaurant-name {
                margin: 0 0 5px 0;
                font-size: 14px;
            }
            iso-date-formatter {
                font-size: 12px;
                margin-top: 7px;
                color: rgba(0, 0, 0, 0.3);
                margin-right: 10px;
            }
            .order-detail {
                margin: 15px 0 5px 0;
            }
            order-status,
            .order-detail-value {
                font-size: 13px;
                color: rgba(0, 0, 0, 0.6);
            }
            .total-cost {
                color: rgba(0, 0, 0, 0.5);
                margin: 20px 15px 10px 0;
                font-size: 13px;
            }
            .courier-photo-container > img {
                border: 1px solid rgba(0, 0, 0, 0.54);
                margin-right: 10px;
            }
            .courier-name {
                margin: 5px 0px 2px 2px;
                font-size: 14px;
            }
		</style>
        <nomnow-data-layer collections="{{collections}}"></nomnow-data-layer>

        <backend-collection-query collection="{{collections.restaurantCollection}}" findById
                                  objectId="{{order.restaurant.objectId}}"
                                  result="{{restaurant}}"></backend-collection-query>
        <div horizontal layout id="order-header">
            <div flex>
                <h5 class="restaurant-name">{{restaurant.name}}</h5>
                <iso-date-formatter iso="{{order.orderDate.iso}}"></iso-date-formatter>
            </div>
            <div>
                <nomnow-text-button id="view-details-button" class="button"
                                    on-tap="{{viewDetailsButtonClicked}}">Item list</nomnow-text-button>
            </div>
        </div>
        <template if="{{order.courier}}">
            <h6 class="order-detail">Courier</h6>
            <backend-collection-query collection="{{collections.parseUserCollection}}"
                                      findById
                                      objectId="{{order.courier.objectId}}"
                                      result="{{parseUser}}"></backend-collection-query>
            <backend-collection-query collection="{{collections.courierCollection}}"
                                      findById
                                      objectId="{{parseUser.courier.objectId}}"
                                      result="{{courier}}"></backend-collection-query>
            <div horizontal layout>
                <div class="courier-photo-container">
                    <img src="{{courier.photo.url}}" height="50" />
                </div>
                <div vertical layout flex>
                    <div class="courier-name">{{courier.firstName}} {{courier.lastName}}</div>
                    <div>
                        <start-rating-bar classification="{{courier.classification}}"></start-rating-bar>
                    </div>
                </div>
            </div>
        </template>
        <h6 class="order-detail">Delivery location</h6>
        <p class="order-detail-value">{{order.deliveryAddress}} {{order.deliveryDoorNumber}}</p>
        <h6 class="order-detail">Status</h6>
        <p class="order-detail-value">
            <order-status status="{{order.state}}"></order-status>
        </p>
        <template if="{{order.deliveryDate}}">
            <div class="order-detail" layout horizontal>
                <h6>Delivered at:</h6>
                <p class="order-detail-value">
                    <hour-formatter dateIso="{{order.deliveryDate.iso}}"></hour-formatter>
                </p>
            </div>
        </template>
        <backend-collection-query collection="{{collections.orderClientDataCollection}}"
                                  findById
                                  objectId="{{order.clientData.objectId}}"
                                  result="{{orderClientData}}"></backend-collection-query>
        <template if="{{orderClientData.validationPIN}}">
            <div class="order-detail" layout horizontal>
                <h6>Your order PIN:</h6>
                <p class="order-detail-value">{{orderClientData.validationPIN}}</p>
            </div>
        </template>
        <div class="total-cost" horizontal layout>
            <div flex>
                Total
            </div>
            <div class="price">
                <price-formatter value="{{order.totalPrice}}" symbol="€"></price-formatter>
            </div>
        </div>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>