<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../ripple-button/ripple-button.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer nomnow-text-button custom element. -->
<polymer-element name="nomnow-text-button" attributes="iconSrc icon" noscript>
	<template>
		<global-theme-values themeValues="{{theme}}"></global-theme-values>
		<theme-style>
            :host {
                display: block;
            }
            ripple-button {
                border: 1px solid rgba(0, 0, 0, 0.7);
                /*background-color: transparent;*/
                background-color: rgba(255, 254, 250, 0.92);
            }
			.text {
                text-align: center;
                padding: 15px;
                padding-top: 12px;
                padding-bottom: 10px;
                margin: 0px;
                font-size: 12px;
                font-weight: 500;
                color: {{theme.color.buttonTextColor}};
                text-transform: uppercase;
			}
            .button-icon {
                position: absolute;
                left: 15px;
                top: 8px;
            }
            .icon-container {
                position: relative;
                height: 0
            }
            .icon-container > core-icon {
                width: 18px;
                height: 18px;
                top: -2px;
                right: 5px;
            }
		</theme-style>
		<ripple-button>
            <div class="text" horizontal center-justified layout>
                <template if="{{iconSrc}}">
                    <img class="button-icon" src="{{iconSrc}}" height="20"/>
                </template>
                <template if="{{icon}}">
                    <div class="icon-container">
                        <core-icon icon="{{icon}}"></core-icon>
                    </div>
                </template>
                <content></content>
            </div>
		</ripple-button>
	</template>
</polymer-element>