<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-label/core-label.html">
<link rel="import" href="../ripple-effect/ripple-effect.html">

<!-- Declaration of polymer proto-label custom element. -->
<polymer-element name="proto-label" extends="core-label" noscript>
	<template>
        <style>
            /* Base for label styling */
            :host::shadow::content [type="checkbox"]:not(:checked),
            :host::shadow::content [type="checkbox"]:checked {
                /*position: absolute;*/
                /*left: -9999px;*/
                display: none;
            }
            :host::shadow::content [type="checkbox"]:not(:checked) + label,
            :host::shadow::content [type="checkbox"]:checked + label {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
            }

            /* checkbox aspect */
            :host::shadow::content [type="checkbox"]:not(:checked) + label:before,
            :host::shadow::content [type="checkbox"]:checked + label:before {
                content: '';
                position: absolute;
                left: 3px;
                top: 1px;
                width: 16px;
                height: 16px;
                /*background: rgba(0, 0, 0, 0.1);*/
                border-radius: 2px;
                box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.05);
                transition: background .2s;
            }
            :host::shadow::content [type="checkbox"]:not(:checked) + label:before {
                background: transparent;
                box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.05);
            }
            :host::shadow::content [type="checkbox"]:checked + label:before {
                background: rgba(0, 0, 0, 0.1);
                box-shadow: none;
            }
            /* checked mark aspect */
            :host::shadow::content [type="checkbox"]:not(:checked) + label:after,
            :host::shadow::content [type="checkbox"]:checked + label:after {
                /*content: '✔';*/
                content: '✓';
                position: absolute;
                top: 2px;
                left: 5px;
                font-size: 13px;
                color: #4C4C4C;
                transition: all .2s;
            }
            /* checked mark aspect changes */
            :host::shadow::content [type="checkbox"]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
            }
            :host::shadow::content [type="checkbox"]:checked + label:after {
                opacity: 1;
                transform: scale(1);
            }
            /* disabled checkbox */
            :host::shadow::content [type="checkbox"]:disabled:not(:checked) + label:before,
            :host::shadow::content [type="checkbox"]:disabled:checked + label:before {
                box-shadow: none;
                border-color: #bbb;
                background-color: #ddd;
            }
            :host::shadow::content [type="checkbox"]:disabled:checked + label:after {
                color: #999;
            }
            :host::shadow::content [type="checkbox"]:disabled + label {
                color: #aaa;
            }
            /* accessibility */
            :host::shadow::content [type="checkbox"]:checked:focus + label:before,
            :host::shadow::content [type="checkbox"]:not(:checked):focus + label:before {
                border: 1px dotted blue;
            }
        </style>
		<shadow></shadow>
        <ripple-effect></ripple-effect>
	</template>
</polymer-element>