<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/core-scaffold/core-scaffold.html">
<!--<link rel="import" href="../../bower_components/font-roboto/roboto.html">-->
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/core-scroll-header-panel/core-scroll-header-panel.html">

<link rel="import" href="../proto-logged-window/proto-logged-window.html">
<link rel="import" href="../event-dispatcher/event-dispatcher.html">
<link rel="import" href="../proto-service-worker/proto-service-worker.html">
<link rel="import" href="../proto-theme-bright/proto-theme-bright.html">

<polymer-element name="proto-app">
    <template>
        <style>
            :host {
                font-family: 'RobotoDraft', sans-serif;
                font-weight: 300;
            }
        </style>
        <!--<proto-service-worker version="0.0.1" preCacheUrls="['./', '/_api/_files/hoodie.js']"></proto-service-worker>-->

        <hoodie-backend-adapter id="backendAdapter">
            <event-dispatcher event="hoodie-message" handler="{{$.loginWindow.errorHandler}}"></event-dispatcher>
        </hoodie-backend-adapter>

        <template if="{{!$.backendAdapter.session.username}}">
            <login-window id="loginWindow">
                <event-dispatcher event="login" handler="{{$.backendAdapter.onLoginHandler}}"></event-dispatcher>
                <event-dispatcher event="register" handler="{{$.backendAdapter.onRegisterHandler}}"></event-dispatcher>
            </login-window>
        </template>
        <template if="{{$.backendAdapter.session.username}}">
            <proto-logged-window appTitle="{{appTitle}}"></proto-logged-window>
        </template>
    </template>
    <script src="harmony/build/build.js"></script>
</polymer-element>