<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../proto-label/proto-label.html">
<link rel="import" href="../swipe-to-action/swipe-to-action.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer todo-elem custom element. -->
<polymer-element name="todo-elem" attributes="model">
    <template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
        <theme-style>
            :host {
                width: 100%;
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
            }
            proto-label {
                padding: 8px;
                color: {{theme.color.todoTextColor}};
                font-size: 15px;
            }
            paper-icon-button {
                color: {{theme.color.todoDeleteButtonColor}};
                margin-right: 5px;
            }
        </theme-style>
        <swipe-to-action on-swipe-result="{{swipeDeleteHandler}}" offsetLimit="0.6"></swipe-to-action>
        <div class="content" horizontal layout>
            <div class="todo-body" flex layout horizontal relative center>
                <proto-label id="core-label" layout horizontal center flex relative fit>
                    <input id="checkbox" for="core-label" type="checkbox" aria-labelledby="core-label"
                           on-change="{{changeHandler}}">
                    <label id="body" for="checkbox">{{model.body}}</label>
                </proto-label>
            </div>
            <div class="remove-button" layout horizontal center>
                <paper-icon-button on-click="{{deleteHandler}}" icon="delete"></paper-icon-button>
            </div>
        </div>
    </template>
    <script src="harmony/build/build.js"></script>
</polymer-element>