<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer restaurant-category-preview custom element. -->
<polymer-element name="restaurant-category-preview" attributes="restaurant category condensed">
	<template>
		<nomnow-data-layer collections="{{collections}}"></nomnow-data-layer>
		<style>
			.category-title {
                font-weight: 300;
                font-size: 14px;
                margin: 0;
                padding: 10px 0 10px 0;
            }
            .placeholder {
                color: rgba(0, 0, 0, 0.3);
                font-size: 13px;
                margin: 0;
                padding: 10px 5px 10px 5px;
            }
            nomnow-text-button {
                margin-top: 7px;
            }
            nomnow-text-button::shadow .text {
                padding-top: 8px;
                padding-bottom: 6px;
            }
            clickable-list-item::shadow > .container {
                padding: 6px 5px 6px 5px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            clickable-list-item:not(:last-of-type)::shadow > .container {
                border-bottom: 1px solid rgba(0, 0, 0, 0.04);
            }
            .item-details .price {
                margin-left: 15px;
                font-size: 13px;
                color: rgba(0, 0, 0, 0.3)
            }
            .item-details {
                font-size: 13px;
                color: rgba(0, 0, 0, 0.6);
                padding: 5px 0 5px 0;
            }
		</style>
		<backend-collection-query collection="{{collections.productCollection}}"
								  result="{{products}}">
			<backend-collection-query-param field="restaurant.objectId" operator="equals"
											value="{{restaurant.objectId}}">
			</backend-collection-query-param>
			<backend-collection-query-param field="category.objectId" operator="equals"
											value="{{category.objectId}}">
			</backend-collection-query-param>
		</backend-collection-query>
        <template if="{{condensed != undefined}}">
            <div horizontal layout class="category-title-wrapper">
                <div flex>
                    <h5 class="category-title">{{category.name}}</h5>
                </div>
                <div>
                    <template if="{{products.length > 3}}">
                        <nomnow-text-button on-tap="{{viewMoreClicked}}">VIEW MORE</nomnow-text-button>
                    </template>
                </div>
            </div>
        </template>
        <div class="list-container">
            <template repeat="{{product in filteredProducts}}">
                <clickable-list-item model="{{product}}">
                    <div class="item-details" horizontal layout>
                        <div flex>
                            {{product.name}}
                        </div>
                        <div class="price">
                            <price-formatter value="{{product.price}}" symbol="€"></price-formatter>
                        </div>
                    </div>
                    <event-dispatcher event="list-item-clicked" handler="{{productClicked}}"></event-dispatcher>
                </clickable-list-item>
            </template>
        </div>
        <template if="{{!filteredProducts.length}}">
            <p class="placeholder">No products in this category at the time.</p>
        </template>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>