<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../proto-bouncer/proto-bouncer.html">
<link rel="import" href="../proto-loading/proto-loading.html">
<link rel="import" href="../dynamic-ajax-request/dynamic-ajax-request.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer weather-widget custom element. -->
<polymer-element name="weather-widget">
	<template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
		<theme-style>
            :host {
                padding-top: 15px;
                padding-bottom: 15px;
                color: {{theme.color.weatherWidgetTextColor}};
            }
			h5, h4, h6 {
                margin: 0;
                font-weight: 200;
            }
            .location {
                margin-bottom: 5px;
            }
            .description {
                color: {{theme.color.weatherWidgetDimTextColor}};
                font-style: italic;
            }
            .temperature {
                text-align: right;
            }
            .temperature.min {
                color: {{theme.color.weatherWidgetDimTextColor}};
            }
            .loading-label {
                font-size: 13px;
                font-style: italic;
                color: {{theme.color.weatherWidgetDimTextColor}};
            }
            proto-bouncer.small {
                width: 8px;
                height: 8px;
                margin-left: 5px;
            }
            proto-loading {
                width: 3px;
                height: 3px;
                margin: 5px;
                margin-top: 2px;
            }
		</theme-style>
        <dynamic-ajax-request auto
                              url="{{apiUrl}}"
                              handleAs="json"
                              progress="{{progress}}"
                              loading="{{loading}}"
                              on-cache-response="{{responseHandler}}"
                              on-live-response="{{responseHandler}}"
                              on-cache-request-error="{{errorHandler}}"
                              on-live-request-error="{{errorHandler}}"></dynamic-ajax-request>
        <template if="{{!hasResponse}}">
            <div layout horizontal>
                <h6 class="loading-label">{{loadingLabelMessage}}</h6>
                <template if="{{!error}}">
                    <proto-loading></proto-loading>
                </template>
            </div>
        </template>
        <template if="{{hasResponse}}">
            <div id="weather-wrapper" horizontal layout>
                <div flex>
                    <div vertical layout>
                        <div horizontal layout>
                            <h5 class="location">{{location}}</h5>
                            <template if="{{waitingLiveResults}}">
                                <proto-bouncer class="small"></proto-bouncer>
                                <!--<proto-loading></proto-loading>-->
                            </template>
                        </div>
                        <h6 class="description">{{description}}</h6>
                    </div>
                </div>
                <div>
                    <div vertical layout>
                        <h4 class="temperature">{{maxTemperature}}º</h4>
                        <h6 class="temperature min">{{minTemperature}}º</h6>
                    </div>
                </div>
            </div>
        </template>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>