<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">
<link rel="import" href="../nomnow-text-button/nomnow-text-button.html">
<link rel="import" href="../event-dispatcher/event-dispatcher.html">

<!-- Declaration of polymer nomnow-login-form custom element. -->
<polymer-element name="nomnow-login-form">
	<template>
		<global-theme-values themeValues="{{theme}}"></global-theme-values>
		<theme-style>
            :host {
                padding: 35px;
                padding-top: 50px;
                padding-bottom: 15px;
                width: 300px;
                text-align: center;
            }
            .text {
                text-align: center;
                font-size: 13px;
                color: #444444;
                margin: 10px;
            }
            .underlined {
                text-decoration: underline;
                cursor: pointer;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            core-field {
                padding-top: 10px;
                padding-bottom: 5px;
                padding-left: 0px;
                padding-right: 3px;
                border-bottom: 1px solid {{theme.color.popupInputBorderColor}};
                margin-bottom: 5px
            }
            input {
                color: {{theme.color.textInputBgColor}};
                font-size: 13px;
                background: transparent;
                border: 0;
                padding: 0;
                margin: 0 4px;
                outline: none;
            }
            nomnow-text-button {
                margin-top: 5px;
            }
            #sign-in-button {
                margin-top: 25px;
            }
            #skip-button {
                margin-top: 40px;
                text-align: right;
            }
            #sign-up-label {
                margin-top: 40px;
                margin-bottom: 25px;
            }
		</theme-style>
		<img src="{{theme.src.loginFormLogoFallback}}"
			 srcset="{{theme.src.loginFormLogo}}"
			 alt="Nomnow logo.">
        <p id="sign-up-label" class="text">
            New here?
            <span class="underlined">Sign up!</span>
        </p>
        <core-field center horizontal layout>
            <input placeholder="Email" flex value="{{username}}" autofocus>
        </core-field>
        <core-field center horizontal layout>
            <input placeholder="Password" flex value="{{password}}" type="password">
        </core-field>
        <nomnow-text-button id="sign-in-button">sign in</nomnow-text-button>
        <p class="text" style="font-size: 11px">OR</p>
        <nomnow-text-button id="facebook-button" iconSrc="{{theme.src.facebookIcon}}"
                            on-click="{{signInWithFacebook}}">
            sign in with facebook
        </nomnow-text-button>
        <p id="skip-button" class="text" on-tap="{{skipSignIn}}">
            <span class="underlined">
                Skip login...
            </span>
        </p>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>