<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer todo-polymer-model custom element. -->
<polymer-element name="todo-model">
	<script src="harmony/build/build.js"></script>
</polymer-element>