<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-field/core-field.html">
<link rel="import" href="../../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer todo-input custom element. -->
<polymer-element name="todo-input" attributes="placeholder cenas" on-keypress="{{keypressHandler}}">
    <template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
        <theme-style>
            :host {
                display: block;
                width: 100%;
                background-color: {{theme.color.todoInputBgColor}};
            }
        </theme-style>
        <paper-shadow z="1">
            <core-field>
                <core-icon icon="create"></core-icon>
                <input placeholder="[[placeholder]]" flex value="{{inputValue}}">
            </core-field>
        </paper-shadow>
    </template>
    <script src="harmony/build/build.js"></script>
</polymer-element>