<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer hoodie-static-resources-plugin custom element. -->
<polymer-element name="hoodie-static-resources-plugin">
	<script src="harmony/build/build.js"></script>
</polymer-element>