<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../ripple-effect/ripple-effect.html">

<!-- Declaration of polymer nomnow-icon-button custom element. -->
<polymer-element name="nomnow-icon-button" attributes="icon">
	<template>
		<style>
			:host {
				/*cursor: pointer;*/
                display: inline-block;
			}
            core-icon {
                border: 1px solid #000;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                overflow: hidden;
            }
            ripple-effect::shadow #background {
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }
		</style>
		<core-icon icon="{{icon}}">
			<ripple-effect recenteringTouch></ripple-effect>
		</core-icon>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>