<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer nomnow-scaffold custom element. -->
<polymer-element name="nomnow-scaffold">
	<template>
		<style>
            :host {
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
            }
		</style>
        <content select="nomnow-header"></content>
        <content select="nomnow-content-container"></content>
        <content select="nomnow-popup"></content>
        <content select="nomnow-popup-message"></content>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>