<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../backend-adapter-interface/backend-adapter-interface.html">

<script src="library/vendor/jquery-2.1.0.min.js"></script>
<script src="library/vendor/bootstrap/bootstrap.js"></script>
<script src="library/vendor/prism/prism.js"></script>
<!-- Load the dynamic version of hoodie.harmony that includes all the plugin code-->
<script src="/_api/_files/hoodie.js"></script>
<!--Load the static version of hoodie for better performance in production -->
<!--<script src="library/hoodie.js"></script>-->

<script src="library/vendor/hoodie.accountbar.bootstrap.js"></script>
<script src="library/vendor/bootstrap.modalform.js"></script>

<!-- Declaration of polymer hoodie-backend-adapter custom element. -->
<polymer-element name="hoodie-backend-adapter" attributes="url" extends="backend-adapter-interface">
	<script src="harmony/build/build.js"></script>
</polymer-element>