<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../backend-adapter-interface/backend-adapter-interface.html">

<!-- Declaration of polymer backend-collection custom element. -->
<polymer-element name="backend-collection" attributes="name requiredProperties backendAdapter">
    <template>
        <backend-adapter-interface id="backendAdapterInterface"></backend-adapter-interface>
    </template>
	<script src="harmony/build/build.js"></script>
</polymer-element>

<!-- Declaration of polymer backend-collection-query custom element. -->
<polymer-element name="backend-collection-query"
                 attributes="collection result objectId noPersistence findById orderBy descendant">
</polymer-element>

<!-- Declaration of polymer backend-collection-query-param custom element. -->
<polymer-element name="backend-collection-query-param" attributes="field value operator or and">
</polymer-element>