<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../generic-popup/generic-popup.html">

<!-- Declaration of polymer nomnow-popup-message custom element. -->
<polymer-element name="nomnow-popup-message" noscript>
	<template>
		<style>
			:host {
				position: absolute;
				width: 100%;
				height: 100%;
				padding-top: 70px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
                /*z-index: 1000;*/
			}
			generic-popup {
				position: initial;
				display: block;
			}
            generic-popup::shadow #container {
                background-color: rgba(255, 254, 250, 0.81);
            }
			::content .popupContent {
				padding: 30px 30px 20px 30px;
				background-color: rgba(255, 254, 250, 0.97);
				border: 1px solid rgba(0, 0, 0, 0.29);
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
		</style>
		<generic-popup>
			<content select=".popupContent"></content>
		</generic-popup>
	</template>
</polymer-element>