<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-scroll-header-panel/core-scroll-header-panel.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">

<!-- Declaration of polymer main-panel custom element. -->
<polymer-element name="main-panel" extends="core-scroll-header-panel">
	<template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
		<style>
			:host {
                background-color: #22333C;
			}

            ::shadow #mainContainer {
                background-color: rgba(0, 0, 0, 0.14);
            }

            ::shadow #condensedHeaderBg {
                background-color: rgba(25, 39, 47, 0.96);
            }
		</style>
		<shadow></shadow>
        <picture id="headerBgPic" hidden style="position: absolute; right: 0; top: 20px">
            <source media="(min-width: 801px)" srcset="{{theme.src.desktopHeaderImg}}" />
            <source media="(min-width: 448px)" srcset="{{theme.src.tabletHeaderImg}}" />
            <img src="{{theme.src.headerFallbackImg}}" alt="Proto header image."
                 srcset="{{theme.src.phoneHeaderImg}}"/>
        </picture>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>