<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../ripple-effect/ripple-effect.html">

<!-- Declaration of polymer proto-button custom element. -->
<polymer-element name="proto-button" attributes="text">
	<template>
		<style>
			:host {
				background-color: #CCCCCC;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
			}
		</style>
		<paper-shadow z="1" relative>
			<content select="*:not(.innerRipple)"></content>
			<ripple-effect recenteringTouch>
                <content select=".innerRipple"></content>
            </ripple-effect>
		</paper-shadow>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>