<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer animated-delete-button custom element. -->
<polymer-element name="animated-delete-button">
    <template>
        <style>
            :host {
                display: inline-block;
                vertical-align: middle;
                background-repeat: no-repeat;
                fill: currentcolor;
                position: relative;
                height: 18px;
                width: 18px;
            }
            .path {
                -webkit-transform-origin: 9px 9px;
                transform-origin: 9px 9px;
                -webkit-transition: -webkit-transform 0.4s ease;
                -moz-transition: -moz-transform 0.4s ease;
                -o-transition: -o-transform 0.4s ease;
                transition: transform 0.4s ease;
            }
            #pathTwo.animated {
                -webkit-transform: rotate(50deg) translateX(0px) translateY(4px) scaleX(0.55);
                -moz-transform: rotate(50deg) translateX(0px) translateY(4px) scaleX(0.55);
                -ms-transform: rotate(50deg) translateX(0px) translateY(4px) scaleX(0.55);
                -o-transform: rotate(50deg) translateX(0px) translateY(4px) scaleX(0.55);
                transform: rotate(50deg) translateX(0px) translateY(4px) scaleX(0.55);
            }
            #pathOne.animated {
                -webkit-transform: rotate(-41deg) translateX(1px) translateY(2px);
                -moz-transform: rotate(-41deg) translateX(1px) translateY(2px);
                -ms-transform: rotate(-41deg) translateX(1px) translateY(2px);
                -o-transform: rotate(-41deg) translateX(1px) translateY(2px);
                transform: rotate(-41deg) translateX(1px) translateY(2px);
            }
        </style>
        <svg viewBox="0 0 18 18" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" fit
             style="pointer-events: none; display: block;">
            <g>
                <path id="pathOne" class="path" d="M19 13H5v-2h14v2z"></path>
                <path id="pathTwo" class="path" d="M19 13H5v-2h14v2z"></path>
            </g>
        </svg>
    </template>
    <script src="harmony/build/build.js"></script>
</polymer-element>