<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer proto-loading custom element. -->
<polymer-element name="proto-loading" noscript>
	<template>
		<style>
            :host {
                width: 3px;
                height: 3px;
                position: relative;
                display: inline-block;
            }

            .first-dot, .second-dot, .third-dot {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: #CFCFCF;
                opacity: 0.3;
                position: absolute;
                top: 0;
                left: 0;

                -webkit-animation: flash 0.9s infinite ease-in-out;
                animation: flash 0.9s infinite ease-in-out;
                transform: scale(0);
                -webkit-transform: scale(0);
            }

            .second-dot {
                -webkit-animation: flash 0.9s infinite ease-in-out;
                -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s;
                left: 100%;
                margin-left: 1px;
            }

            .third-dot {
                -webkit-animation: flash 0.9s infinite ease-in-out;
                -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s;
                left: 200%;
                margin-left: 2px;
            }

			@-webkit-keyframes flash {
				0%, 100% {
					-webkit-transform: scale(0.5)
				}
				50% {
					-webkit-transform: scale(1.0)
				}
			}

			@keyframes flash {
				0%, 100% {
					transform: scale(0.5);
					-webkit-transform: scale(0.5);
				}
                50% {
					transform: scale(1.0);
					-webkit-transform: scale(1.0);
				}
			}
		</style>
        <div class="first-dot"></div>
        <div class="second-dot"></div>
        <div class="third-dot"></div>
	</template>
</polymer-element>