<!DOCTYPE html>
<html class="no-js">
	<head>
		<title>Prototype App</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="theme-color" content="#22333C">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
		<script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
		<link rel="import" href="./bower_components/polymer/polymer.html">
	</head>
	<body>
		<!-- ID attribute must match element name passed to Polymer() -->
		<dom-module id="user-view">
			<style>
				:host{
					background: {{color}};
				}
			</style>
			<template>
				<!-- Supported -->
				<p>
					<div style$="color: [[color]]">Supported</div>First:
					<span>{{first}}</span>
					<br>Last:
					<span>{{last}}</span>
					<br>first-name:
					<span>{{firstName}}</span>
				</p>
			</template>
		</dom-module>
		<dom-module id="main-view">
			<template>
				<user-view id="userView" first-name="{{user.first}}" first="{{user.first}}" last="{{user.last}}" on-tap="console.log('asd')"></user-view>
			</template>
		</dom-module>
		<script>
			Polymer({
				is: 'user-view',
				properties: {
					first: String,
					last: String,
					firstName: String,
					color: '#F00000'
				},
				cenasFixes: function() {
					alert("cenas fixes")
				}
			});
			Polymer({
				is: 'main-view',
				properties: {
					user: {
						type: Object,
						value: {
							first: 'Samuel',
							last: 'Adams'
						}
					}
				},
				cenas: function() {
					alert("asd")
				}
			});
		</script>
		<div>user-view</div>
		<user-view first="Samuel" last="Adams"></user-view>
		<div>main-view</div>
		<main-view>
			</user-view>
	</body>

</html>
