<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../pager-tile/pager-tile.html">
<link rel="import" href="../event-dispatcher/event-dispatcher.html">
<link rel="import" href="../ripple-effect/ripple-effect.html">
<link rel="import" href="../clickable-list-item/clickable-list-item.html">
<link rel="import" href="../iso-date-formatter/iso-date-formatter.html">
<link rel="import" href="../dom-selector/dom-selector.html">
<link rel="import" href="../order-detailed-view/order-detailed-view.html">
<link rel="import" href="../order-item-list/order-item-list.html">

<!-- Declaration of polymer order-explorer-view custom element. -->
<polymer-element name="order-explorer-view" attributes="tileTitle orderList">
    <template>
        <style>
            :host {
                display: block;
            }

            h4 {
                font-weight: 300;
            }

            p {
                font-size: 14px;
                margin: 0;
            }

            .placeholder {
                color: rgba(0, 0, 0, 0.6);
            }

            clickable-list-item::shadow > .container {
                padding: 10px 5px 10px 5px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            clickable-list-item:not(:last-of-type)::shadow > .container {
                border-bottom: 1px solid rgba(0, 0, 0, 0.04);
            }

            iso-date-formatter.list-item-date,
            clickable-list-item .order-price {
                font-size: 12px;
                margin-top: 7px;
                color: rgba(0, 0, 0, 0.3);
                margin-right: 10px;
            }

            clickable-list-item .order-price p {
                text-align: right;
                font-size: 13px;
            }

            .date-icon > core-icon {
                width: 13px;
                height: 13px;
                color: rgba(0, 0, 0, 0.3);
                margin-right: 3px;
                position: relative;
                top: 3px;
            }

            order-detailed-view {
                padding-left: 5px;
            }

            order-item-list {
                margin-top: 15px;
                padding: 0 20px 0 15px;
            }
        </style>
        <nomnow-data-layer collections="{{collections}}"></nomnow-data-layer>

        <pager-tile id="pagerTile">
            <section layout vertical title="{{tileTitle}}">
                <div>
                    <template if="{{!orderList.length}}">
                        <p class="placeholder">No orders to show.</p>
                    </template>
                    <template repeat="{{order in orderList}}">
                        <clickable-list-item model="{{order}}">
                            <div class="container">
                                <backend-collection-query collection="{{collections.restaurantCollection}}"
                                                          findById
                                                          objectId="{{order.restaurant.objectId}}"
                                                          result="{{restaurant}}"></backend-collection-query>
                                <p>{{restaurant.name}}</p>

                                <div horizontal layout>
                                    <div class="date-icon">
                                        <core-icon icon="history"></core-icon>
                                    </div>
                                    <div>
                                        <iso-date-formatter class="list-item-date"
                                                            iso="{{order.orderDate.iso}}"></iso-date-formatter>
                                    </div>
                                    <div class="order-price" flex>
                                        <template if="{{order.totalPrice}}">
                                            <p>{{order.totalPrice | setPricePrecision}} €</p>
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <event-dispatcher event="list-item-clicked"
                                              handler="{{orderClicked}}"></event-dispatcher>
                        </clickable-list-item>
                    </template>
                </div>
            </section>
            <section layout vertical title="Order details">
                <div>
                    <order-detailed-view order="{{selectedOrder}}">
                        <event-dispatcher event="view-products-button-clicked"
                                          handler="{{viewOrderProductsClicked}}"></event-dispatcher>
                    </order-detailed-view>
                </div>
            </section>
            <section title="Items">
                <div>
                    <order-item-list order="{{selectedOrder}}"></order-item-list>
                </div>
            </section>
        </pager-tile>
    </template>
    <script src="harmony/build/build.js"></script>
</polymer-element>