<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../bower_components/core-field/core-field.html">
<link rel="import" href="../proto-text-button/proto-text-button.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer register-form custom element. -->
<polymer-element name="register-form" on-keypress="{{keypressHandler}}">
	<template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
		<theme-style>
			:host {
                background-color: {{theme.color.registerFormBgColor}};
            }
            :host > paper-shadow {
                padding: 30px;
            }
            .title {
                color: {{theme.color.bigTitleColor}};
                font-weight: 200;
                font-size: 27px;
                margin: 15px;
                margin-left: 0;
                margin-top: 20px;
            }
            core-field {
                padding-top: 10px;
                padding-bottom: 3px;
                padding-left: 0px;
                padding-right: 3px;
                border-bottom: 1px solid {{theme.color.popupInputBorderColor}};
                margin-bottom: 5px
            }
            polyfill-next-selector { content: 'core-field::shadow ::content input'; }
            core-field::shadow ::content input {
                padding-bottom: 2px;
                color: {{theme.color.inputBgColor}};
                font-size: 13px;
            }
			proto-text-button {
                margin-top: 20px;
                background-color: {{theme.color.buttonBgColor}};
            }
            proto-text-button#register {
                margin-left: 5px;
                background-color: {{theme.color.redButtonBgColor}};
            }
		</theme-style>
		<paper-shadow z="1" id="login-wrapper">
			<h3 class="title">new account</h3>
	        <core-field id="username">
	            <input placeholder="username" flex value="{{username}}">
	        </core-field>
	        <core-field>
	            <input placeholder="password" flex value="{{password}}" type="password">
	        </core-field>
	        <core-field>
	            <input placeholder="password confirmation" flex value="{{passwordConfirmation}}" type="password">
	        </core-field>
	        <div horizontal layout>
	            <proto-text-button text="LOGIN" on-tap="{{login}}" flex></proto-text-button>
	            <proto-text-button id="register" text="REGISTER" on-tap="{{register}}"></proto-text-button>
	        </div>
	    </paper-shadow>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>