<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">

<!-- Declaration of the app theme values. -->
<global-theme-values>
    <!--                    -->
    <!--    COLOR VALUES    -->
    <!--                    -->
    <global-theme-color name="bgColor">rgba(0,0,0,0)</global-theme-color>
    <global-theme-color name="mainContainerBgColor">#eaeaea</global-theme-color>
    <global-theme-color name="buttonBgColor">rgb(98, 98, 98)</global-theme-color>
    <global-theme-color name="redButtonBgColor">#A64E4E</global-theme-color>
    <global-theme-color name="buttonTextColor">rgba(0,0,0,0.7)</global-theme-color>
    <global-theme-color name="bigTitleColor">rgba(0, 0, 0, 0.87)</global-theme-color>
    <global-theme-color name="mediumTitleColor">rgba(0, 0, 0, 0.7)</global-theme-color>

    <global-theme-color name="genericPopupWrapperBgColor">rgba(0, 0, 0, 0)</global-theme-color>
    <global-theme-color name="genericPopupBgColor">#f2f2f2</global-theme-color>
    <global-theme-color name="popupInputBorderColor">rgba(99, 99, 99, 0.17)</global-theme-color>
    <global-theme-color name="textInputBgColor">#4b4b4b</global-theme-color>
    <global-theme-color name="popupMessageBgColor">#f5f5f5</global-theme-color>
    <global-theme-color name="popupMessageColor">#555555</global-theme-color>
    <global-theme-color name="protoBouncerBgColor">#CFCFCF</global-theme-color>
    <global-theme-color name="registerFormBgColor">#f5f5f5</global-theme-color>
    <global-theme-color name="rippleBgColor">rgba(0, 0, 0, 0.1)</global-theme-color>
    <global-theme-color name="rippleBubbleColor">rgba(0, 0, 0, 0.3)</global-theme-color>
    <global-theme-color name="todoTextColor">#555</global-theme-color>
    <global-theme-color name="todoBgColor">#eaeaea</global-theme-color>
    <global-theme-color name="todoDeleteButtonColor">#aaaaaa</global-theme-color>
    <global-theme-color name="todoInputBgColor">#fbfbfb</global-theme-color>
    <global-theme-color name="todoSeparatorColor">#e6e6e6</global-theme-color>
    <global-theme-color name="weatherWidgetTextColor">rgba(0, 0, 0, 0.87)</global-theme-color>
    <global-theme-color name="weatherWidgetDimTextColor">rgba(0, 0, 0, 0.5)</global-theme-color>

    <!--                    -->
    <!--    PATH VALUES     -->
    <!--                    -->
    <global-theme-src name="loginFormLogo">
        /components/nomnow-theme-bright/assets/images/login_form_logo.png 1x,
        /components/nomnow-theme-bright/assets/images/login_form_logo@2x.png 2x
    </global-theme-src>
    <global-theme-src name="loginFormLogoFallback">
        /components/nomnow-theme-bright/assets/images/login_form_logo.png
    </global-theme-src>
    <global-theme-src name="courierBicycle">
        /components/nomnow-theme-bright/assets/images/courier_bicycle.png 1x,
        /components/nomnow-theme-bright/assets/images/courier_bicycle@2x.png 2x
    </global-theme-src>
    <global-theme-src name="courierBicycleFallback">
        /components/nomnow-theme-bright/assets/images/courier_bicycle.png
    </global-theme-src>
    <global-theme-src name="logoWhiteSvg">
        /components/nomnow-theme-bright/assets/images/nomnow_logo.svg
    </global-theme-src>
    <global-theme-src name="facebookIcon">
        /components/nomnow-theme-bright/assets/images/facebook_logo_blue.svg
    </global-theme-src>
    <!--                    -->
    <!--  DIMENSION VALUES  -->
    <!--                    -->
    <global-theme-dimension name="maxPageWidth">1440px</global-theme-dimension>
</global-theme-values>
