<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Declaration of polymer hoodie-parse-adapter-plugin custom element. -->
<polymer-element name="hoodie-parse-adapter-plugin" extends="backend-adapter-interface" attributes="syncCollections">
	<script src="harmony/build/build.js"></script>
</polymer-element>