<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="bower_components/core-input/core-input.html">

<polymer-element name="todo-task" attributes="item index uuid">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div>
      <core-icon-button icon="{{item.done ? 'check' : 'check-box-outline-blank'}}" on-click="{{toggle}}"></core-icon-button>
      <input type="text" is="core-input" value="{{item.task}}" on-change="{{change}}">
      <core-icon-button icon="delete" on-click="{{delete}}"></core-icon-button>
    </div>
  </template>
  <script>
    Polymer('todo-task', {
      uuid: '',
      toggle: function (e) {
        this.item.done = !this.item.done;
        this.fire('toggle', {
          uuid: this.uuid
        });
      },
      change: function (e) {
        this.fire('change', {
          uuid: this.uuid
        });
      },
      delete: function (e) {
        this.fire('delete', {
          uuid: this.uuid
        });
      }
    });
  </script>
</polymer-element>