<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="bower_components/polymer-idb/polymer-idb.html">
<link rel="import" href="bower_components/client-uuid/client-uuid.html">
<link rel="import" href="todo-task.html">

<polymer-element name="todo-list" attributes="items">
  <template>
    <polymer-idb id="idb"
                 database="todo"
                 version="1"
                 object-store="task"
                 key-path="uuid"
                 on-idb-ready="idbReady"></polymer-idb>
    <template repeat="{{item, index in items}}">
      <todo-task item="{{item}}"
                 index="{{index}}"
                 uuid="{{item.uuid}}"
                 on-toggle="{{update}}"
                 on-change="{{update}}"
                 on-delete="{{delete}}"></todo-task>
    </template>
    <core-icon-button icon="add" on-click="{{add}}"></core-icon-button>
    <client-uuid id="uuid"></client-uuid>
  </template>
  <script>
    Polymer('todo-list', {
      items: [],
      ready: function () {

        var that = this;

        this.$.idb.addEventListener('idb-ready', function () {
          this.getAll().then(function (items) {
            that.items = items;
          });
        });
      },
      add: function () {

        this.$.uuid.reset();

        var that = this;
        var item = {
          uuid: this.$.uuid.value,
          done: false,
          task: ''
        };

        this.$.idb.put(item).then(function () {
          that.items.push(item);
        }, function (error) {
          console.log(error);
        });
      },
      update: function (e, detail, sender) {
        
        var that = this;
        var item = this.items[sender.index];

        this.$.idb.delete(detail.uuid).then(function () {
          that.$.idb.put(item)
        });
      },
      delete: function (e, detail, sender) {

        var that = this;

        this.$.idb.delete(detail.uuid).then(function () {
          that.items.splice(sender.index, 1);
        });
      },
      clear: function (e, detail, sender) {
        
        var that = this;
        
        this.$.idb.deleteAll().then(function () {
          that.items.length = 0;
        });
      },
      // debug
      deleteObjectStore: function (e, detail, sender) {
        this.$.idb.deleteObjectStore();
      },
      // debug
      deleteDatabase: function (e, detail, sender) {
        this.$.idb.deleteDatabase();
      }
    });
  </script>
</polymer-element>