<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../proto-button/proto-button.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer proto-text-button custom element. -->
<polymer-element name="proto-text-button" attributes="text" noscript>
    <template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
        <theme-style>
            .text {
                text-align: center;
                padding: 15px;
                padding-top: 10px;
                padding-bottom: 8px;
                margin: 0px;
                font-size: 12px;
                font-weight: 500;
                color: {{theme.color.buttonTextColor}};
            }
        </theme-style>
        <proto-button>
            <p class="text">{{text}}</p>
        </proto-button>
    </template>
</polymer-element>