<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../event-dispatcher/event-dispatcher.html">
<link rel="import" href="../popup-message/popup-message.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer generic-popup custom element. -->
<polymer-element name="generic-popup">
	<template>
		<theme-style>
			:host {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-color: rgba(34, 51, 60, 0.98);
			}
            core-animated-pages {
                width: 100%;
                height: 100%;
            }
            .wrapper {
                height: 100%
            }
            .page > * {
                margin-bottom: 50px;
            }
		</theme-style>

		<div class="wrapper" horizontal center center-justified layout>
            <core-animated-pages id="paginator" selected="{{page}}"
                                 transitions="hero-transition slide-up slide-down cross-fade list-cascade">
                <div class="page" horizontal center center-justified layout on-tap="{{close}}">
                    <div hero-id="form" hero on-tap="{{ignoreTap}}">
                        <content></content>
                    </div>
                </div>
                <div class="page" horizontal center center-justified layout on-tap="{{close}}">
                    <popup-message hero-id="form" hero
                                   message="{{message}}" success="{{success}}"
                                   on-tap="{{ignoreTap}}">
                        <event-dispatcher event="message-closed" handler="{{closeMessageHandler}}"></event-dispatcher>
                    </popup-message>
                </div>
            </core-animated-pages>
		</div>
	</template>
	<script src="harmony/build/build.js"></script>
</polymer-element>