<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../global-theme-values/global-theme-values.html">
<link rel="import" href="../theme-style/theme-style.html">

<!-- Declaration of polymer proto-header custom element. -->
<polymer-element name="proto-header" extends="core-toolbar" noscript>
	<template>
        <global-theme-values themeValues="{{theme}}"></global-theme-values>
		<theme-style>
			:host {
                color: {{theme.color.menuIconColor}};
			}
			:host::shadow #bottomBar {
				padding: 5px;
				padding-bottom: 0;
				height: auto;
			}
			:host::shadow #topBar {
				padding-top: 5px;
				padding-left: 4px;
			}
			:host::shadow::content .bottom {
				margin: 0
			}
		</theme-style>
		<shadow></shadow>
	</template>
</polymer-element>